[2018-02-14 16:01] abadams opened #9 "Scattering"
We currently support computed expressions in the indices on the RHS. We should plumb through computed expressions on the LHS too, e.g:

hist(im(i)) +=! 1

[2018-02-14 16:03] abadams opened #10 "Strides"
We currently incorrectly treat all tensors as dense. Need to add support for strided tensors. This can be done by adding the strides as extra params, and either constructing the tensor views in the emitted source using the strides instead of the sizes, or just doing the storage flattening ourselves before or during codegen.

[2018-02-14 16:05] abadams opened #11 "Padding/Boundary conditions"
We need some way to express padding of input tensors. The current thought is a primitive pad(expr, expr), which returns the first argument *if it does no out-of-bounds reads*, and otherwise returns the second argument.

[2018-02-14 16:07] abadams opened #12 "Writes to non-zero based tensors"
Consider:

out(i) = in(10 - i)

It will infer a range for i that does not necessarily start at zero. What should this mean for the domain of out? I don't think we have any tests for this pattern yet, and I don't have a firm idea of what the semantics should be.

[2018-02-14 22:03] abadams opened #16 "Comparison operators"
The front-end doesn't understand ==, <, >, !=, etc. Hilariously, we *do* have a ternary operator, but I'm not sure what you would use for the first argument :)

Tagging @zdevito to add them to the lexer/parser

[2018-02-14 22:18] abadams commented on #9
Note that this would also enable the following formulation of a concat:

out(0, i) = a(i)
out(1, i) = b(i)

[2018-02-14 23:12] abadams commented on #16
I got lost somewhere inside semantic checking and type inference with this. I think this will be trivial for Zach, so I'll leave it to him.

[2018-02-15 07:04] prigoyal commented on #11
@abadams I would like to help figure this out. I believe this will be very important especially when we want to do backwards with manual TC.

[2018-02-15 13:38] prigoyal opened #18 "Handle temporaries"
right now, everything is either an input or output. Reason being TC does not do any allocation by itself. We should find a better way to handle this

cc Albert Cohen who is interested in this

[2018-02-15 17:34] mscipio opened #22 "porting the examples in python using the provided python binding"
As in the title, do you have any plan to provide working example of the currently available python binding interface, or will you just wait to release them with PyTorch bindings?

[2018-02-15 18:53] prigoyal commented on #22
Hi @mscipio, thank you for the query. We will provide the python examples as part of PyTorch bindings. They will be made available in few weeks.

[2018-02-15 21:42] abadams commented on #9
Currently blocked by the many places that assume the bounds on tensors are affine. Scattering makes them at least piecewise affine, which we could probably handle, but in general makes them non-affine. Not sure how best to relax this. Anywhere in the current code that calls makeIslAffFromExpr is a problem.

[2018-02-16 02:22] Moore123 opened #29 "in Start example typo"
in Docs:  Let’s start with a simple example is a matrix vector product:
def mv(float(R,C) A, float(C) x) -> (o) {
  o(i) += A(i,j) * b(j)
}

should be:
o(i) += A(i,j) *x(j)

[2018-02-16 02:40] Moore123 commented on #29
already fixed.

[2018-02-16 02:40] #29 closed

[2018-02-16 06:33] nicolasvasilache commented on #18
We had discussions about this with @Yangqing, @zdevito and others that it would be easy to:
1.  split into ```inputs, outputs, temporaries```
2. pass a ```alloc``` and a ```free``` lambda operating on DLTensors that should
     a. convert back to a particular ```framework X``` tensor type of choice form DLPack
     b. alloc the tmp automatically using inferred sizes, it is the responsibility of ``

[2018-02-16 13:57] wsmoses opened #34 "Determine whether a loop should be parallelized in CPU backend from ISL"
ISL internally dictates if loops should be run serially, or may be run in parallel. Presently we are conservative and always run loops serially (for CPU). We ought use the information from ISL to set the CPU parallelization flag appropriately for each loop.

[2018-02-16 14:09] prigoyal commented on #34
can you add some description for this @wsmoses ?

[2018-02-16 16:12] prigoyal opened #35 "Investigate install TC instructions in docker"
there are permission denied issues with git clone in docker. using https might be an option but this needs investigation.

[2018-02-16 17:29] prigoyal commented on #35
fixed by #33

asking users to do ssh keys setup is not recommended. Problem with shifting to https instead is that people will have to enter password, username when pushing to repo. One solution is to store the credentials. see https://stackoverflow.com/a/28562679

if encryption issues worries people, maybe this will help: https://askubuntu.com/questions/740183/store-git-credentials-permanently-an

[2018-02-16 17:29] #35 closed

[2018-02-16 22:13] prigoyal commented on #16
done in #28

[2018-02-16 22:13] #16 closed

[2018-02-20 18:55] prigoyal opened #45 "Semantic analysis fails to catch invalid TC involving temporaries"
we don't support temporaries very well right now, i.e. everything has to be either an input/output. However, I myself have fallen into trap of missing marking the temporary variables as outputs. The semantic analysis doesn't catch this TC and propagates to Halide further to get the IR. this should be corrected

[2018-02-20 19:09] prigoyal opened #46 "Variable tensor sizes support for TC"
is there a way for us to support variable tensor sizes? right now, if the tensor size changes, we have to recompile and cache. But often in computer vision, NLP, people have models where tensor size for a layer changes at every step of training

for example:
[code]

should user be writing this for all input sizes? compiling and caching every time.

This is a big use case for computer vision and NL

[2018-02-20 22:24] jekbradbury commented on #46
This is related to support for explicit loops in the frontend. Supporting variable sizes (i.e. symbolic shapes in TVM) in general is probably a substantial change, but allowing explicit loops, declared in the frontend code, over a single variable-sized dimension is very similar to the existing support for variable batch sizes but would cover many NLP use cases (like RNNs/QRNNs).

[2018-02-20 23:10] ftynse commented on #46
Technically, this is simpler than it looks.  Most of the compilation flow should support this transparently (Halide and polyhedral passes).  For example, polyhedral scheduling is meant to operate on symbolic parameters and we have an option to substitute them with inferred numerical values _before_ or _after the scheduling itself.  We even have [tests](https://github.com/facebookresearch/TensorCom

[2018-02-20 23:34] prigoyal commented on #10
@abadams do you have time to look into this?

[2018-02-21 10:09] skimo-openhub opened #49 "test_mapper_llvm fails because wrong cilkrts is found"
With ac1f3c34aed50c7abb984420eceb1e01fd39ccc2, I get
[code]
The output of `ldconfig -p | grep libcilkrts` is
[code]

[2018-02-21 10:38] ttheodor commented on #49
Here's the offending code: https://github.com/facebookresearch/TensorComprehensions/blob/master/src/core/polyhedral/llvm_jit.cc#L38

[2018-02-21 12:00] ftynse commented on #46
Indeed, the "imperative syntax" proposed earlier in TC context is not yet implemented in the language.  It is annoying to support _efficient_ code generation.  The "imperative loop" is outer sequential and the current compilation pass would just map the computation to a single block given that syntax is supported by the frontend.  We would need to emit global synchronizations even for a naïve mapp

[2018-02-21 13:33] prigoyal commented on #49
@wsmoses we can make change to the build system to only look for 64-bit cilk runtime.

[2018-02-21 13:37] prigoyal commented on #10
assigning this to myself, I'll work on it soon.

[2018-02-21 16:03] abadams commented on #10
Sorry, snowed under with Halide work I neglected during the TC release.

[2018-02-21 21:02] prigoyal commented on #10
no worries at all, I will probably have some time next week and can look into it :)

[2018-02-22 11:03] skimo-openhub commented on #49
On Thu, Feb 22, 2018 at 10:21:47AM +0000, ftynse wrote:

I think Priya was proposing to look for the library at configure/build
time instead of at run time.

skimo

[2018-02-22 13:46] prigoyal commented on #49
yes, I was proposing to do it at configure/build time. If this test if blocking then feel free to disable the test for now. Billy is traveling I think for some talk so might not be available for this.

[2018-02-22 15:47] Banus opened #53 "[Build] error: expected type-specifier for llvm::CilkABI()"
I'm trying to build the TC project from the docker images and default settings, but I'm stuck with the following error:

[code]
I'm using the following docker image to automate the build, using the command `docker build -t tc-local .` to build:

[code]

I had to remove the manual `CLANG_HOME` environmental variable from the [instructions](https://facebookresearch.github.io/TensorComprehensions/ins

[2018-02-22 15:50] ftynse commented on #53
I don't recall us using `CLANG_HOME`, there is `CLANG_PREFIX` however.  Without this variable, the build script maybe picking up a wrong LLVM.

[2018-02-22 15:56] ftynse commented on #53
You may also try `ensorcomprehensions/linux-xenial-gcc5-tapir5.0-cuda9-cudnn7-py3:x86_1` image (note the `_1`).

[2018-02-22 16:36] wsmoses commented on #53
Tapir/LLVM was bumped in the docker image by @prigoyal .

Specifying the newer docker image tensorcomprehensions/linux-xenial-gcc5-tapir5.0-cuda9-cudnn7-py3:x86_1 as @ftynse said should resolve

[2018-02-22 16:55] wsmoses commented on #49
@skimo-openhub
I made a quick fix to only search for 64bit libraries here: https://github.com/facebookresearch/TensorComprehensions/tree/tfix

This doesn't stop the fact that we should fix this, but perhaps this will unblock you.

[2018-02-22 18:08] PatWie commented on #22
It it currently possible or not?

[code]

gives me

[code]

[2018-02-22 18:41] prigoyal commented on #22
Hi @PatWie we don't have any python tests running via autotuner atm and hence you might run into errors like above. We recommend waiting out for our official support for PyTorch. Thanks!

[2018-02-22 20:16] prigoyal opened #55 "Autotuner doesn't return to original handlers before signals raise"
can you look into this? this has been extensively discussed already

[2018-02-22 21:00] prigoyal commented on #55
I am investigating things on py side myself

[2018-02-22 21:23] Banus commented on #53
Thanks @ftynse, @wsmoses and @prigoyal, I'll try the new image tomorrow.

@ftynse you are right, the environmental variable is `CLANG_PREFIX`; I got it somewhat mixed with `HOME`.

[2018-02-22 21:34] prigoyal commented on #55
we need to cleanly exit all the threads if we throw the exception. surprisingly, we don't maintain any global threadpool

[2018-02-23 00:56] prigoyal opened #56 "Nested Function Calls in TC"
There is some interest in being able to do nested function calls i.e. define one TC and call it from inside another one.

[code]

This makes a lot of sense as well for cases where you want to use a defined database of TC and just make calls.

[2018-02-23 12:17] #53 closed

[2018-02-23 13:15] prigoyal commented on #55
I solved it, claiming back

[2018-02-23 13:32] prigoyal commented on #45
closed by #57

[2018-02-23 13:32] #45 closed

[2018-02-23 15:14] prigoyal opened #62 "Unable to use same variable for reduction twice or more in TC"
do we not allow people to use same variable twice? also repro is available in #61

[code]

[2018-02-23 15:14] prigoyal commented on #62
cc @jekbradbury

[2018-02-23 15:46] prigoyal commented on #62
the reason is because we use Halide IR and it makes assumption that the tensor dependencies are strictly DAG. Hence it doesn't work in case of softmax variants that failed.

[2018-02-23 15:48] prigoyal opened #63 "max=! fails with inff not known to nvrtc"
[code]

[2018-02-23 15:49] prigoyal commented on #63
https://gist.github.com/prigoyal/0318a964368f86b3a6a09228c7bfbf71 - it doesn't strictly feel  like frontend issue to me. the TC passes semantic analysis etc and then fails at NVRTC compilation but maybe the frontend didn't do the parsing correctly.

@zdevito do you know what's going on here? repro in #61

[2018-02-23 17:03] abadams commented on #63
Oh, it's due to how we codegen inf. The identity of max=! is -inf, which we don't print in a way cuda source would understand.

[2018-02-23 17:04] abadams commented on #63
Anyone know the correct way to write inf in cuda?

[2018-02-23 17:29] prigoyal commented on #63
haha, yeah, `inff` looked very suspicious in first place. https://devtalk.nvidia.com/default/topic/486689/representing-infinity/?offset=3 this seems to denote we could use

[code]

so we might need to set this custom type

[2018-02-23 22:18] prigoyal opened #65 "Reference group belongs to two error"
[code]

[2018-02-23 22:18] prigoyal commented on #65
this is still happening after the build landed in master

[2018-02-23 22:22] ftynse commented on #65
This should have been fixed by #51

[2018-02-23 22:24] ftynse commented on #65
If it still appears, please produce the log with `--debug_tc_mapper`

[2018-02-23 22:26] prigoyal commented on #65
doesn't happen on clean build first time running test, doing more test runs

[2018-02-23 22:33] prigoyal commented on #65
seems fixed, closing now, thanks @ftynse :)

[2018-02-23 22:33] #65 closed

[2018-02-24 01:51] #55 closed

[2018-02-26 17:35] prigoyal opened #73 "Allow using scalars for bounds inference"
We can't use scalar inputs in the bounds inference right now. So for example:

[code]

this will fail.

The workaround right now is to do proper substitution for those scalars in the TC before passing them to the backend.

[2018-02-26 17:49] prigoyal commented on #73
yep, thanks for catching, updating the description :)

[2018-02-26 18:02] prigoyal opened #74 "Add C++ test for all TC from layers database"
there might be few missing TC defs in C++ land, they probably only exist in python side. I'll add C++ test case for all of them.

[2018-02-26 19:07] nicolasvasilache opened #76 "Uniformize docker images"
We used to have all our trusty docker images used to inherit from this ```FROM nvidia/cuda:8.0-cudnn6-devel-ubuntu14.04``` and all our xenial docker images used to inherit from this ```FROM nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04```

This has changed drastically and I see that we now start from a naked ubuntu [image](https://github.com/facebookresearch/TensorComprehensions/blob/master/docker/linu

[2018-02-26 19:11] prigoyal commented on #76
closing this and moving to new repo, we are getting new test CI in 1 week approx

new repo where docker will be maintined https://github.com/prigoyal/tensorcomp-dockerfiles

also, you are confusing the conda-recipe image , that doesn't run on CI but we still need to build packages in docker env for clean build and building packages require GPU, so we start from nvidia-docker.

Closing this task, i

[2018-02-26 19:11] #76 closed

[2018-02-26 19:14] prigoyal commented on #76
Here is the task https://github.com/prigoyal/tensorcomp-dockerfiles/issues/4

please feel free to subscribe yourself and follow there.

[2018-02-26 19:19] nicolasvasilache commented on #76
The conda-recipe image *running* on CI is unrelated to *factoring out* a common dockerfile and avoiding copy-pasta.

Sure we can discuss on that particular issue.

What is this "new repo" you're talking about?
Is it just a repository for maintaining the Docker files that used to in docker?
I assume there is a good reason for having a separate repo for this, I will ping @ezyang and @pietern to get

[2018-02-26 19:20] prigoyal commented on #76
please loop me in the discussions with @pietern and @ezyang

[2018-02-26 19:23] prigoyal commented on #76
yes, for the separate repo, docker registry is going to be `registry.pytorch.org/tensorcomp`

On jenkins, when a new commit is pushed, the docker image build will kick-off again (as part of the Jenkins configuration I am writing for TC)

keeping the dockers images in this repo will kick off docker build everytime the PR is sent which we don't want.

Hence, there are separate repo for keeping the d

[2018-02-26 19:38] prigoyal opened #77 "Jenkins CI for running GPU tests for CI"
creating this master task for people to track progress. I am actively working on this and will post updates here.

- [x] ~Setup the dockerfiles repo where CI can pull docker build info from~
- [x] ~Setup a tensorcomp bot and add to this repo~
- [x] ~ssh setup for the tensorcomp bot on Jenkins CI~
- [x] ~Remove the tiering of the docker images~ #79  done in #91
- [x] ~Groovy skeleton for TC CI~ htt

[2018-02-26 19:52] nicolasvasilache opened #78 "Avoid build.sh copy-pasta when having both conda and source mode"
#72 introduces a bunch of ```build.sh``` with content that is largely copy-pasted from the original ```build.sh```, it would be nice to structure things in a way such that:
  1. the main ```build.sh``` calls the auxiliary smaller build scripts with some set of options
  2. the conda recipes call the smaller build scripts with possibly another set of options

[2018-02-26 19:54] prigoyal commented on #78
I am closing this task, this is based on misunderstanding about how conda packaging works. I can explain things in person or VC, whatever works.

The build.sh in conda builds is not copy paste, it uses different env variable settings and I guess that's what matters for a build to work.

[2018-02-26 19:54] #78 closed

[2018-02-27 00:36] prigoyal commented on #73
for more information, copy pasting some information from our internal discussion on this:

Andrew: "The issue is that it requires us to do compute outside of the scope where we allocate outputs. E.g. we need to load from input tensors before we allocate outputs. But input tensors may only exist in device memory, etc..."

Andrew: "It requires a change to our model of computation."

Andrew: "One pot

[2018-02-27 00:54] jekbradbury commented on #73
Those PyTorch plumbing changes have mostly already happened and 0.4 will have first-class scalars

[2018-02-27 01:23] abadams commented on #73
By pytorch plumbing changes I meant changes within TC's flow from inputs into the kernel more generally. Even with these plumbing changes, I'd see there being a type-system difference between t() and t(3) to be a language wart. I think we just need to accept that bounds evaluation will potentially need to load values from tensors as well as inspect their shape (which is what it currently does).

[2018-02-27 04:28] prigoyal opened #79 "Docker images improvement - non tiered version"
We need 4 docker files only:

gcc 4.8 - cuda8-cudnn6 - conda
gcc 4.8 - cuda8-cudnn6 - non conda

gcc 5 - cuda9-cudnn7 - conda
gcc 5 - cuda9-cudnn7 - non conda

as per discussion with @pietern and @ezyang, these images can be based off of nvidia docker images

[2018-02-27 04:51] prigoyal commented on #76
after more discussion with @pietern and @ezyang, we will remove the tiered docker images version. #79 issue will track that.

thanks to @nicolasvasilache for starting the conversation on messenger, things cleared out a bit :)

[2018-02-27 10:23] ftynse commented on #73
I think that allowing inference to read _values_ of the inputs and all the related changes to the execution model is an overcompilcated solution to a rather simple problem, and passing things like pooling sizes as values is not the right way to go.  In polyhedral terminology, these things are _parameters_: they are scalars that remain constant throughout the execution.  I don't see any other case

[2018-02-27 14:32] nicolasvasilache commented on #79
To save you some time, you want to reuse the images that we had been using in our CI pre-release that were spuriously [deleted](https://github.com/facebookresearch/TensorComprehensions/tree/747c0a6d8b0158abd89ff1f90963ef61a83f8fa1/docker/archive)

These were constructed in a tiered fashion to optimize docker image building on a laptop as I explained when I ramped you up through the process.

AWS h

[2018-02-27 14:51] nicolasvasilache commented on #73
I have read the previous comments and I would like to add some insights about the difference between what we **could do** and what we **should do**. The following is a discussion from first principles about some of the requirements we have, with hints at the underlying mathematical reasons that are too long to explain fully here. The discussion follows a structured bottom-up approach going through

[2018-02-27 15:26] abadams commented on #73
In the following signature:

[code]

There's very little distinction between the values of N, K, and shape(0) in the programmer's mind, *and* in the implementation of everything except for the polyhedral parts. If we continue to insist that N is somehow categorically different to K, people are going to be confused. I argue that this restriction is an unnecessary artifact of the current implementat

[2018-02-27 15:29] abadams commented on #73
Note that it's straightforward to take a set of Halide Exprs in terms of some tensors and scalar parameters and jit-compile some code that evaluates them, either using our own codegen_llvm or Halide's. This would not be a large number of lines of code.

[2018-02-27 16:10] prigoyal commented on #79
@nicolasvasilache I would prefer to consolidate the current docker files - they use proper structure for writing dockerfiles and proper instructions to do so. I followed the docker official documentation for writing those, the instructions you had shown were not clear to me - they involved some other installation process for docker which was weird to me. Normal official documentation for docker wo

[2018-02-27 16:27] prigoyal commented on #79
for curiosity, those docker instructions you had shown looked like
[code]

but I don't need to do this when I can simply do
[code]

[2018-02-27 16:34] prigoyal commented on #79
also, I don't know if I ramped up in that meeting, we rather only ended up discussing the TC release 😆

[2018-02-27 16:37] nicolasvasilache commented on #79
You're confusing 2 different things, one can use a preexisting ```docker``` installation if available or one can install one from scratch (which is what these commands do).

At the end of the road, there is no significant difference between the last line of the paste:
[code]
and
[code]
but of course feel free to disagree.

All the rest is to install docker itself ...

Also, this is orthogonal to t

[2018-02-27 16:38] nicolasvasilache commented on #73
So I think we have both the top down and the bottom up  views summarized here, thanks for your input.

If I put those things together:

I would say then by all means let's go for it :)

[2018-02-27 20:21] prigoyal opened #82 "Relax cuda versioning asserts from test harness"
We assert cuda8, cudnn6 atm but it is there only for reproducibility reasons from some time ago. We should relax this.

@nicolasvasilache is working on it , creating the task for tracking for users.

[2018-02-28 08:51] ftynse commented on #73
Anything will confuse users :)  The mere fact of us having this discussion is evidence that the choices are not obvious for everybody...

[code]

I do, indeed.  And there are two reasons for this proposal:
1. The definition above can be read as "argument `input` of type `float(N)`", "argument `K` of type `int32`", ...  So there is a categorical difference between `N` and `K`, the former being part

[2018-02-28 10:21] skimo-openhub commented on #73
On Wed, Feb 28, 2018 at 08:51:54AM +0000, ftynse wrote:

I agree that N and K (when treated as a parameter) should be
of the same kind and so I also feel it's confusing to have
one untyped and the other one typed "int32".

On Tue, Feb 27, 2018 at 10:23:56AM +0000, ftynse wrote:

This proposal also treats kH differently from the size parameters B, C,...
That is, why would I have to write "$<kH>" in

[2018-02-28 14:37] nicolasvasilache commented on #76
Yes the goal of the task was to uniformize the images and the suggestion is to take the officially supported  NVIDIA images (like you did conda) as the base for anything related to GPU (unlike the CI image that starts from a naked ubuntu image and applies a cuda install script that we have to maintain and that AFAICT is not supported by NVIDIA).

Let's see what the next iteration of dockerfiles lo

[2018-03-01 05:22] jimmyoic opened #89 "[Build] build on Ubuntu16.04 and fail when building third-party"
- OS: Ubuntu 16.04
- How you installed TC (docker, conda, source): source
- Python version: 3.5.2
- CUDA/cuDNN version: 8.0
- GCC/GXX version (if compiling from source): 5.4.0
- LLVM/Tapir git hash used (if compiling from source): clang version 5.0.0 (get from the command below)

  To get the hash, run: `$HOME/clang+llvm-tapir5.0/bin/clang --version`

- Commit hash of our repo and submodules (if c

[2018-03-01 05:26] prigoyal commented on #89
Hi @jimmyoic , you all the third parties are build from source. The error you are getting requires building clang+llvm again by following these instructions https://facebookresearch.github.io/TensorComprehensions/installation_non_conda.html#step-3-install-clang-llvm
These instructions enable exceptions handling for llvm which was previously disabled.

So, can you try doing a build for clang+llvm f

[2018-03-01 12:00] jimmyoic commented on #89
Hi,
I have built it from scratch and followed the link, it didn't work.
Did I miss any configure?
${CMAKE_VERSION} -DLLVM_ENABLE_EH=ON -DLLVM_ENABLE_OCAMLDOC=OFF -DLLVM_INSTALL_OCAMLDOC_HTML_DIR=/tmp -DLLVM_OCAML_INSTALL_PATH=/tmp -DCMAKE_INSTALL_PREFIX=${CLANG_PREFIX} -DLLVM_TARGETS_TO_BUILD=X86 -DCOMPILER_RT_BUILD_CILKTOOLS=OFF -DLLVM_ENABLE_CXX1Y=ON -DLLVM_ENABLE_TERMINFO=OFF -DLLVM_BUILD_TESTS

[2018-03-01 12:06] ftynse commented on #89
Could you please a gist with build process output so that we see how exactly it did not work?

[2018-03-01 12:17] jimmyoic commented on #89
Hi, thanks for the reply!
I follow the installation guide: check version of gcc/g++, install Clang+LLVM with the same command. Since I already have CUDA/Cudnn, so I skip that step. It all works perfectly until the installation of TC. I run the following command (exactly the same with the guide):
BUILD_TYPE=Release PYTHON=$(which python3) WITH_CAFFE2=OFF CLANG_PREFIX=$HOME/clang+llvm-tapir5.0 ./bui

[2018-03-01 12:30] ftynse commented on #89
It appears that the build is not picking up the right version of LLVM: there is `-fno-exceptions` in halide build commands, and it make come from querying cxxflags from a wrong `llvm-config`.

It is quite hard to debug from a partial output.  Please copy the full output of `build.sh` into a [gist](https://gist.github.com/) and post it here.

[2018-03-01 12:35] prigoyal commented on #89
@jimmyoic can you run the following command and copy paste the output here

[code]

this will tell us if the llvm+clang build os okay.

[2018-03-01 12:38] jimmyoic commented on #89
The output is the following:
![image](https://user-images.githubusercontent.com/7804036/36845088-5a7bac54-1d90-11e8-8d43-f44d00a5a932.png)

-I/home/cgilab/clang+llvm-tapir5.0/include  -fPIC -fvisibility-inlines-hidden -Werror=date-time -std=c++1y -Wall -W -Wno-unused-parameter -Wwrite-strings -Wcast-qual -Wno-missing-field-initializers -pedantic -Wno-long-long -Wno-maybe-uninitialized -Wdelete-non

[2018-03-01 12:41] prigoyal commented on #89
@jimmyoic as you can see you have **-fno-exceptions** in your llvm build, that definitely means that the llvm build is incorrect. You can try the suggestion and remove the llvm build you have, and re-build it with the above command? make sure that cmake has ```-DLLVM_ENABLE_EH=ON``` in it.

Once you have done that, run
[code]
again and send us the output.

[2018-03-01 15:14] prigoyal commented on #89
great to know @jimmyoic , thanks for confirming. I'll close this issue now, it seems to be resolved. Please feel free to reach out to us if you have any questions :)

[2018-03-01 15:14] #89 closed

[2018-03-02 14:40] prigoyal commented on #11
I want to work on this , it's important for convolution operations when backwards is involved especially. assigning to myself

[2018-03-02 14:42] prigoyal commented on #22
We have python bindings ready and we will shortly provide the python bindings and the documentation for using them. Closing this issue :)

[2018-03-02 14:42] #22 closed

[2018-03-02 14:42] prigoyal commented on #34
@wsmoses should this be assigned to you? if you have bandwidth to take a stab at it :)

[2018-03-02 14:44] ftynse commented on #34
We discussed this yesterday with @skimo-openhub , it needs some isl work

[2018-03-02 22:05] #79 closed

[2018-03-05 13:14] prigoyal opened #96 "Support for RNN loops"
There is a big interest in having support for RNN loops in TC. Creating this master task to discuss further and track progress

[2018-03-05 13:20] prigoyal commented on #96
cc @martinraison , @douwekiela , @jekbradbury who already mentioned this feature request

[2018-03-05 14:10] prigoyal opened #97 "Indirections on LHS [for indexing grad]"
the reason for having the LHS indirection is because let's say someone has the lookup table:
[code]
now they want to define the gradient for this, the most intuitive way to write the TC for backwards would be

[code]

[2018-03-05 14:10] prigoyal commented on #97
cc @martinraison who mentioned this case

[2018-03-05 14:14] prigoyal commented on #97
cc @ftynse for thoughts on this.

[2018-03-05 14:21] ftynse commented on #97
@prigoyal  We need to extend the gradient to a full TC definition with header to better see which features are not supported.  Out of my head:

- [ ] without other uses of `M`, we cannot infer its size in the first dimension, even with a `where` clause; this is not a problem for input tensors whose size is specified
- [ ] Halide->Polyhedral lowering pass should differentiate between _must_ writes

[2018-03-05 14:22] prigoyal commented on #97
thanks @ftynse , moving your comment to the first comment as a checklist item

[2018-03-05 14:23] ftynse commented on #97
Certainly this is just basic flow support.  Making this run fast is a different story...

[2018-03-05 14:29] ftynse opened #98 "Ensure types other than float/int32 are supported"
- [ ] teach parser about `bool, int8, int16, int32, int64, float16, float32, float64, complex32, complex64`
- [ ] make sure Halide types are properly constructed
- [ ] make sure polyhedral dependence analysis behaves correctly for complex types
- [ ] teach memory promoter about byte-sizes of each type
- [ ] write tests involving all types

[2018-03-05 15:26] nicolasvasilache commented on #98
Great, thanks!

[2018-03-05 16:09] abadams commented on #97
Duplicate of #9 ?

[2018-03-05 16:09] abadams commented on #97
I started working on this a while ago, but got stuck for the reason described in there.

[2018-03-05 16:20] ftynse commented on #97
#9 seems to be a broader issue...  On the other hand, indirection requires may/must writes which is not necessarily the case for other expressions

[2018-03-05 16:24] ftynse commented on #98
Actually, memory promotion takes the byte-size from Halide, so it should just work.
https://github.com/facebookresearch/TensorComprehensions/blob/f5e3899ddda03c378cc5ce2717e4f28eb92c70d8/src/core/polyhedral/memory_promotion_heuristic.cc#L431

[2018-03-05 16:33] abadams commented on #97
The general scattering problem is really no worse than simple indirection on the LHS. Of all the computed values you could put there, a load is the least well-behaved. It's totally unbounded, unordered, etc.

[2018-03-05 16:36] ftynse commented on #97
What I meant was that scattering may be _better_ in some cases :)

[2018-03-05 16:37] abadams commented on #97
Ah, indeed. Scattering to affine or constant addresses is way easier.

[2018-03-05 17:12] prigoyal commented on #98
yeah and the byte sizes information is also part of `DLTensor`

[2018-03-06 13:24] rahulbhalley opened #104 "Please support Tensor Comprehensions on macOS"
Please support Tensor Comprehensions on macOS
----------------------------------------------

Please consider the following information:
- OS: macOS 10.13.3
- How you installed TC (docker, conda, source): could not install (not supported)
- Python version: 2.7.x
- Conda version (is using conda): 4.4.11

[2018-03-06 13:34] prigoyal commented on #104
Thanks @rahulbhalley, we don't have any concrete plans yet for this but can you provide some info why macOS? we can look into prioritizing this and we also warmly welcome any contributions :)

[2018-03-06 15:45] prigoyal opened #107 "Support for triangular dependencies in TC language"
one of our users reported on slack channel that they were trying to translate the following Numpy code
[code]

to the TC:
[code]

but this TC fails to compile. The reason being: there are triangular dependencies in the bound inference i.e. `s` depends on `i` bounds. This is currently not supported in TC.
But the good news is that it is entirely language and inference issue and not the polyhedral b

[2018-03-06 15:46] prigoyal commented on #107
cc @abadams @nicolasvasilache @zdevito

[2018-03-06 20:06] prigoyal opened #108 "Deadlock in Autotuner"
we have an interesting use case where autotuner deadlocks.
here is gdb backtrace: https://gist.github.com/prigoyal/3a50a60c79fc1e82fd8e999fb4b9e829

here is the C++ test gist: https://gist.github.com/prigoyal/0a0ad421d50f31ad8a37ef0f9d0dc150

this was posted by our user in slack channel cc @moskomule

[2018-03-06 21:24] prigoyal opened #109 "Define TC lang conventions to standardize tc defs"
we are seeing TC's get written in ways that can be confusing to look at. Nicolas has great idea on defining the TC lang convention. Feel free to add the .md file for it :)

[2018-03-06 21:24] nicolasvasilache commented on #108
So the gdb stack shows that the main thread is waiting, I bet your machine has 2 GPUs and the run seems stuck on GPU execution.
Given the nature of the problem (10-D loop with high flop count) it is not unreasonable that it takes so long given the way the TC is currently written.
But it's not a race condition which is always good news :)

[2018-03-06 21:24] #108 closed

[2018-03-06 23:30] prigoyal opened #113 "Investigate and fix python and C++ flags logging"
right now the LOG_IF doesn't play nice when we consider user experience trying to do the cuda dump in python interpreter. THey normally can do
[code]
and but this is not friendly when people have to do the stuff in python interpreter. For this reason, I had added a separate flag dump_cuda and GlobalDebugInit from python was setting that flag. However, having LOG_IF necessitates that we set env var

[2018-03-07 00:03] ftynse commented on #113
The simplest solution here is to ask for
`tc.GlobalDebugInit('--logtostderr=1', '--dump_cuda')`
instead of just
`tc.GlobalDebugInit('--dump_cuda')`

This will have a side effect of redirecting all debugs to stderr though.

I don't like the `GlobalDebugInit` approach.  It has hidden state (can only be called once) and is essentially irreversible.  All flags are actually global variables in C++, the

[2018-03-07 00:33] prigoyal commented on #113
yeah, I do agree that the `tc.GlobalDebugInit` needs to have thread-safety measure. but a proper harness needs to be built out for this with context managers etc. however, this is something that I planned to think about more after the release and understand what's going on with our logging

[2018-03-07 05:17] prigoyal commented on #63
cc @boncheol.gu

[2018-03-07 12:58] rahulbhalley commented on #104
I find that CUDA is not supported on AMD but OpenCL so closing this issue for now.

[2018-03-07 12:58] #104 closed

[2018-03-07 13:22] #63 closed

[2018-03-07 13:47] arogozhnikov opened #117 "Can't compile max reduction"
When submitting a bug report, please include the following information (where relevant):
- OS: ubuntu 16.04
- How you installed TC (docker, conda, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 9 / 7
- Conda version (if using conda): conda 4.3.30
- Docker image (if using docker): nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04
- GCC/GXX version (if compiling from source): 5.4.0
- LLVM/Tapir g

[2018-03-07 14:06] prigoyal commented on #117
Hi @arogozhnikov this was recently fixed a few minutes ago, I'll refresh the binaries soon and the reduction should work then. I'll post update on this task when it's done. Thanks :)

[2018-03-07 14:07] arogozhnikov commented on #117
Wow, very quick. Just in case, is this the same problem below? It just crushes python kernel

[code]

[2018-03-07 14:43] prigoyal commented on #117
@arogozhnikov this example should be fine. We have test case for avgpool as well https://github.com/facebookresearch/TensorComprehensions/blob/master/test_python/layers/test_avgpool_autotune.py

does it simply crash with no error message?

[2018-03-07 14:49] arogozhnikov commented on #117
This was the reason for the second example

As I'm using jupyter, there is no output in notebook, but when I run it as a separate script, I found the problem.
[code]

[2018-03-07 15:34] ftynse commented on #117
that should be turned into a compilation error instead of an assertion, thanks for pointing out

[2018-03-07 15:34] ftynse commented on #117
tag #115 for `max=!` problem

[2018-03-07 15:43] prigoyal commented on #117
@arogozhnikov yep, the name has to be the same and @ftynse is right that we should have this as compilation error and not assertion. we will look into fixing that in a separate issue.

[2018-03-07 15:46] cbalint13 opened #119 "[Build] ScheduleTree struct error schedule_tree.h"
- OS: Fedora 28
- Python version: 3.6
- CUDA: 9.1
- GCC: 8.0.1

Hi Folks,

I am trying to pack TC as rpm package on RedHat/Fedora platform but have issues within **tc_executor.cc** & **schedule_tree.h** . Not sure what would be right declartion.

* In short:
[code]

* In details
[code]

[2018-03-07 15:47] prigoyal commented on #119
@ftynse does this look familiar at all?

[2018-03-07 15:51] prigoyal commented on #82
@nicolasvasilache do you have plans to work on it? if yes, can you provide some ETA? Thanks.

[2018-03-07 16:27] ftynse commented on #119
No, we had other compilation problems with unsupported versions of GCC (>5.4), including problems in third-party dependences.

@cbalint13  note that CUDA does not support GCC>6.3 and you will likely run into further compilation

[2018-03-07 16:40] ftynse commented on #119
The error message is misleading... Try moving the declaration of operator from line 513 to line 137 in `schedule_tree.h`.  I see other compilation problems due to CUDA/GCC incompatibilities.

[2018-03-07 16:43] prigoyal commented on #119
@cbalint13 we officially support gcc 5.4 and below for TC and like @ftynse mentioned, there will be other issue with build for higher gcc version. Do you have a strict requirement for gcc 8 or are you fine using gcc5.4?

[2018-03-08 14:37] prigoyal opened #124 "Exception thrown: "isl.h:3185: NULL input thrown in the test body""
one of our user reported an issue with TC
[code]
which consistently throws error:
[code]

[2018-03-08 14:38] prigoyal commented on #124
@skimo-openhub do you have any suggestions for what could be happening here? I am pushing a C++ repro for it now

[2018-03-08 14:49] ftynse commented on #124
Polyhedral IR construction receives a `NULL` expression for upper bound in `tc::halide2isl::makeScheduleTreeHelper` (halide2isl.cc:253) has `ub` null.

[code]

[2018-03-08 14:55] ftynse commented on #124
Bound inference produces an upper bound `min((H + -1), (R - KH))`, which is not convertible into an `isl::aff`.  The conversion function yields `NULL` which is then directly passed to isl functions, triggering the exception.

[2018-03-08 15:01] prigoyal commented on #124
@ftynse I am curious that what is special about this TC that triggered this.

[2018-03-08 15:06] ftynse commented on #124
`O` being used with different subscripts results in a more complex bound being inferred

[2018-03-08 15:07] prigoyal commented on #124
so for now the workaround can be to split the TC into two different TC?

[2018-03-08 15:08] ftynse commented on #124
yes, that would work

[2018-03-08 15:08] skimo-openhub commented on #124
On Thu, Mar 08, 2018 at 03:01:50PM +0000, Priya Goyal wrote:

The bounds on "h" in "Out(i, j) +=! I(n, i, h, w) * O(n, j, h, w)"
are different in I and O, so the minimum is taken.

skimo

[2018-03-08 15:23] amirid opened #126 "Problem in Importing tensor_comprehensions `[Installation]`"
Hi,

Once I installed the TensorComprehensions in conda enviroment and the installation was successful, but I couldn't import the tensor_comprehensions:

`ImportError: No module named 'tensor_comprehensions'`

Then I installed the package from source, but again I encounter the mentioned error. I tried to run it with both python 2 and python3.

[2018-03-08 15:29] prigoyal commented on #126
Hi amirid, can you tell me your environment config:

1. did you make a new conda env? or are you installing in root env?
2. does `import torch` work?
3. can you tell me the output of `which python`?

[2018-03-08 15:33] prigoyal commented on #117
the packages are up-to-date. @arogozhnikov you can do a `fresh` conda install of package and the max reduction should work fine now. let me know if it doesn't. here is our example test case https://github.com/facebookresearch/TensorComprehensions/blob/master/test_python/layers/test_softmax.py which works fine with max reduction

[2018-03-08 15:33] #117 closed

[2018-03-08 15:40] amirid commented on #126
@prigoyal
1. No I didn't create a new conda env, I installed it in base env.
2. Yes.
3. /usr/bin/python (I removed the anaconda when I decided to install tensor comprehensions from source, but when conda was installed the python path was ~/miniconda/bin)

[2018-03-08 15:42] prigoyal commented on #126
2. what does `print(torch)` gives after you import torch?
3. yeah, so your python is not the conda python and the package was installed in conda root env

can you try:
[code]
and then try the import?

[2018-03-08 16:53] amirid commented on #126
2. <module 'torch' from '/usr/local/lib/python3.5/dist-packages/torch/__init__.py'>
3.  Thank you, now it works :D

[2018-03-08 17:07] prigoyal commented on #126
great, I'll close out this issue. thanks for confirming :)

[2018-03-08 17:07] #126 closed

[2018-03-08 19:14] nicolasvasilache opened #128 "Vanilla LLVM support"
Would be nice if TensorComprehensions ran with non-Tapir LLVM.
Assigning tentatively to @wsmoses for now.

[2018-03-08 20:00] prigoyal commented on #128
I thought it does now already, we don't really have strong dependence on Tapir-LLVM.

[2018-03-08 20:03] prigoyal opened #129 "TC conda package for CUDA9"
There is interest in having TC conda package which is compatible with CUDA9. I'll look into packaging that.

[2018-03-08 20:05] prigoyal opened #130 "TC build support for PyTorch master"
there is user interest in using TC compatible with pytorch master. This also means that users want to use/develop TC with current pytorch master.

cc @soumith

- [ ] Bump aten submodule and make necessary changes https://github.com/facebookresearch/TensorComprehensions/issues/155
- [ ] add instructions to build pytorch from source with/without conda deps

[2018-03-08 22:04] jwfromm opened #131 "Bitwise Operation Support"
Tensor Comprehensions seem like a great way to implement binary approximation of layers as in [BinaryNet](https://arxiv.org/abs/1602.02830). However, tc does not currently support bitwise operations such as xnor (^), or (|), and and (&). Additionally, implementing these approximations would require the popc cuda intrinsic, which is no supported. Getting these functions integrated would enable real

[2018-03-08 22:35] ftynse commented on #131
Thank you for your feedback.  Indeed, we have been mostly working on floating point tensors and some support for integers may be missing (tag #98).

Would you mind giving us a relalistic example of how you would write some TC statements with bitwise operations so that we can keep track of what is already implemented?

Also note that CUDA is not the only architecture that we intend to support, so t

[2018-03-08 23:27] jwfromm commented on #131
I'd like to write something like this

[code]
Above, the first two steps (binarizing weights and inputs) already works fine thanks to inequality being supported. However, all other operations require bitwise operations that are not supported. Bitwise operations and the popcount operator are supported on most architectures, not just CUDA. I've written a similar pipeline in pure Halide and had no tr

[2018-03-08 23:42] jwfromm commented on #131
For reference, here is the equivalent (fully tested and functional) Halide pipeline.
[code]

[2018-03-09 00:06] jwfromm opened #132 "Improved Layer Fusion Support"
It seems like one of the huge benefits of a tool like TC is the ability to fuse layers and optimize the schedule jointly. There may be significant speed-ups from fusing all the layers of a full model and auto-scheduling for example. Unless I'm reading the docs wrong, the only way to currently do this fusion is to define an entire model in one TC language. However, since there are already many stan

[2018-03-09 00:19] prigoyal commented on #132
this seems similar to https://github.com/facebookresearch/TensorComprehensions/issues/56, is that what you meant as well ? :)

[2018-03-09 02:02] jwfromm commented on #132
You're right, thats the same feature.

[2018-03-09 02:02] #132 closed

[2018-03-09 02:03] prigoyal commented on #56
also come through #132

[2018-03-09 02:43] singam-sanjay opened #133 "[Build] Using protobuf installation at non-standard location"
I want to use a protobuf installation within $HOME to build with TC. CMake picks up the path to the `protoc` application but seems to fail at picking the right include directories,
[code]

with tc_proto.dir/build.make having the line,
[code]

What can I do to ensure that the requisite include paths are included ?

Setup:
- OS: Ubuntu 16.04
- How you installed TC (docker, conda, source): build from

[2018-03-09 03:37] prigoyal commented on #133
Hi @singam-sanjay how did you install protobuf?

[2018-03-09 04:35] prigoyal commented on #82
taking this task, discussed over messenger with ntv :)

[2018-03-09 05:18] singam-sanjay commented on #133
Hi @prigoyal ,

I followed Step 6 of https://facebookresearch.github.io/TensorComprehensions/installation_conda.html with the following modifications,
1. `./configure --prefix=$PROTOBUF_DIR/install --exec_prefic=$PROTOBUF_DIR/install` intead of just `./configure`
2. Added the path to the protobuf shared lib files to LD_LIBRARY_PATH instead of executing ldconfig, since I don't have admin permission

[2018-03-09 08:53] ftynse commented on #132
I'd say we need to implement #56 as forced inlining.

@jwfromm Because TC engine essentially takes strings as input, you may be
able to achieve the desired behavior with some string manipulation on the
TC source. Please also note that scheduling everything together is not
necessarily beneficial. Beyond increasing the scheduling time
exponentially, it may produce kernels that perform worse: all ope

[2018-03-09 10:06] arogozhnikov commented on #117
I confirm that provided example works now.

[2018-03-09 10:32] cbalint13 commented on #119
@prigoyal @ftynse

* As @ftynse recommended i used gcc53 strict for the very TC build. Yes now it builds. Other dependencies like llvm-tapir can stay on gcc8. However I use nvcc with gcc53 so gcc53 is always present in the enviroment.

*  I tried to pack TC (among caffe2, pytorch and others) using fedora28 standard compiler gcc ver 8. Usually distros (including fedora) always come with older "comp

[2018-03-09 11:03] cbalint13 commented on #119
@ftynse ,

 * Just to pushed the limits toward gcc8 and moved declaration 513 -> 137. TC now pass the compile with gcc8 ! However CUDA's nvcc still remains invoked with -ccbin=/usr/bin/gcc53 (there is no other way).

[2018-03-09 11:34] ftynse commented on #119
Great!  Do you mind submitting a patch with that change?  I can do it myself if you prefer.

[2018-03-09 11:40] cbalint13 commented on #119
@ftynse ,

Yes i can do it.

[2018-03-09 12:12] #119 closed

[2018-03-09 12:18] ftynse commented on #133
Did you change `CPATH` as well?

[2018-03-09 13:42] prigoyal commented on #117
great to hear @arogozhnikov

[2018-03-09 17:13] #82 closed

[2018-03-10 04:43] merrymercy commented on #130
I built TC from source. It passed the cpu/gpu test, but is not compatible with my pytorch (installed by pip)
Which branch/version of pytorch does TC support?

Here is the output of `test.sh`
[code]
Running other torch's examples will result in segmentation fault.

[2018-03-10 04:55] soumith commented on #130
@merrymercy pytorch v0.3.1 is compatible. what is output of `print(torch.__version__)`

[2018-03-10 05:00] merrymercy commented on #130
I installed pytorch according to the official site by the following command
[code]
The version is 0.3.1, but the above error occured.

[2018-03-11 18:31] prigoyal commented on #130
@merrymercy can you rather try building TC again after you have installed pytorch?

also, if you see the errors, can you give a gist  the log of your "entire" build ? it looks like your pytorch installed is not getting picked up https://github.com/facebookresearch/TensorComprehensions/blob/master/CMakeLists.txt#L176-L189

[2018-03-12 02:09] merrymercy commented on #130
@prigoyal Thanks!  Your answer solves my problem.

My pytorch path is `/usr/local/lib/python3.5/dist-packages`, but the command in CMakeLists
https://github.com/facebookresearch/TensorComprehensions/blob/4569d120f6aae6a59807155c364ac8b0a454c580/CMakeLists.txt#L186-L188
gives `/usr/lib/python3.5/dist-packages`  (missed `local`)

I modified CMakeLists manually and it works.

[2018-03-12 03:10] salexspb commented on #128
src/core/polyhedral/codegen_llvm.cc:33:10: fatal error: 'llvm/Transforms/Tapir/CilkABI.h' file not found

[2018-03-12 03:10] salexspb commented on #128
What is an ETA here? It is currently a blocking issue for us.

[2018-03-12 04:07] merrymercy commented on #130
Maybe you can update CMakeList and use 'torch.__path__'  instead. This makes  CMakeList more stable.

[2018-03-12 12:55] prigoyal commented on #130
@merrymercy please feel free to send a PR :)

[2018-03-13 10:04] trypag opened #141 "Protobuf version mismatch from fresh install"
- OS: Fedora 25
- How you installed TC (docker, conda, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 8.0
- Conda version (if using conda): 4.4.11

repro:
[code]

[2018-03-13 10:08] ftynse commented on #141
This is a warning, not an actual error.  Does the kernel run?

Your setup does not seem that clean as this message appears when the autotuner reads files from the previous runs.  Please check that you don't have `.cuda` and `.options` files in your working directory and/or in `/tmp`.

[2018-03-13 10:12] trypag commented on #141
Ok I didn't think this could be related, that's surprising, thanks :) solved
I had cache files from the previous protobuf version

[2018-03-13 10:12] #141 closed

[2018-03-13 10:24] ftynse commented on #141
Yes, this should be more explicit (tag @prigoyal )

[2018-03-13 13:09] prigoyal commented on #141
@trypag yep, whenever we change the binaries, there are chances that the old mapping options cache that the autotuner saves as protobuf might not be compatible with the new ones. We throw such warnings in that case.

However, I think we should explicitly display them as warnings. fixed in https://github.com/facebookresearch/TensorComprehensions/pull/143 :)

[2018-03-13 13:45] trypag opened #144 "Ternary term generates cuda errors and warnings"
Hi,
- OS: Fedora 25
- How you installed TC (docker, conda, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 8.0
- Conda version (if using conda): 4.4.11

I am trying to write the backward of this TC, the forward works as expected, but autotuning the backward generates weird cuda errors that are impossible to understand.
I noticed that removing the ternary term of the second line in backw

[2018-03-13 13:47] prigoyal commented on #144
thanks @trypag, let me investigate and report back :)

[2018-03-13 13:50] ftynse commented on #141
thanks @prigoyal !

[2018-03-13 13:57] ftynse commented on #144
@prigoyal I see the problem, you can stop looking

Here, somebody decided to put a semicolon in a macro, which is usually a bad idea.
`#define if_then_else(cond,a,b) (cond) ? (a) : (b);`

This macro is used in a more complex expression and the semicolon gets inserted in the middle (between the ?: expansion and the closing parens)

[2018-03-13 14:01] prigoyal commented on #144
thanks @ftynse, I noticed that however I am trying to provide a workaround to the user since binaries won't be refreshed soon. Thanks for your help.

[2018-03-13 14:03] ftynse commented on #144
That code is emitted, I don't see any easy way to work that around....

[2018-03-13 14:03] prigoyal commented on #144
@trypag I have a simple workaround for you. This below runs fine:

[code]

[2018-03-13 14:05] trypag commented on #144
Is it okay to have 2 returned variables in the backward as we are only expected one gradient ? that's the question I was asking lately ^^

[2018-03-13 14:07] prigoyal commented on #144
aha I see, yeah, in the backwards, we can return the temporary variable `temp`. That is completely fine mathematically. If you have other layers on top of this one, then we can easily ignore the temp variable :)

[2018-03-13 14:18] prigoyal commented on #144
also removing the semicolon from macro fixes this. This will be available in conda package in the next release. Until then, the `temp` variable should unblock. Let us know if something else is needed. I'll close out this task now :)

[2018-03-13 14:18] #144 closed

[2018-03-13 16:18] nicolasvasilache opened #148 "Enable test/test_mapper_llvm.cc::LLVMCodegen.DISABLED_BasicExecutionEngine"
#138 only adds a skeleton for the CPU test and smoke checks compilation.
Make this into a real test.

[2018-03-13 18:42] #124 closed

[2018-03-13 22:49] prigoyal opened #155 "Bump ATen submodule"
1. required for supporting pytorch master
2. required to unblock @salexspb  and team

[2018-03-15 08:59] leftthomas commented on #129
@prigoyal Does it support CUDA9.0 now? I found it need cuda8 toolkit when I install it on my CUDA9 machine. Why it need cuda8 toolkit but not cuda9.0?

[2018-03-15 13:04] prigoyal commented on #129
Hi @leftthomas, I didn't package it for CUDA9.0 yet. TC works for cuda9.0 but there are some details that I am figuring out in the packaging. I'll update this issue with updates :)

[2018-03-15 17:51] ttheodor opened #162 "Improve SIGINT/SIGTERM during autotuning"
When the [signal handling logic](https://github.com/facebookresearch/TensorComprehensions/blob/dev/src/autotuner/genetic_autotuner.cc#L151) receives a SIGINT/SIGTERM it dumps the compilation caches, waits for the tuning sessions to finish and then throws an exception.

Maybe something got lost during refactoring but the current logic is not very useful:
- The caches are stored after autotuning eve

[2018-03-15 19:09] prigoyal commented on #162
thanks @ttheodor, let me repro and look into python side for this. I'll report back. Right now, the autotuning is indeed stopped once the signal is caught and only after the current generation has finished running.

the constraint from the python side is that abort in autotuning as we had earlier would kill python interpreter. so we rather throw exception

[2018-03-15 20:11] nkpng2k opened #164 "Segmentation Fault While Running Examples - Source Conda Install"
- OS: Ubuntu 16.04
- Installed via: Source Conda Env
- Python version: Python 3.6.3 :: Anaconda custom (64-bit)
- CUDA/cuDNN version: cudatoolkit 8.0 / cudnn 7.0.5
- Conda version (if using conda): conda 4.4.11
- GCC/GXX version: gcc (Ubuntu 5.4.1-2ubuntu1~16.04) 5.4.1 20160904 / g++ (Ubuntu 5.4.1-2ubuntu1~16.04) 5.4.1 20160904
- LLVM/Tapir git hash used:
$HOME/clang+llvm-tapir5.0/bin/clang --vers

[2018-03-15 21:02] prigoyal commented on #164
thanks @nkpng2k , the core dump could happen if the pytorch installation is not compatible with TC. Can you give information on how did you install pytorch?

[2018-03-15 21:09] nkpng2k commented on #164
@prigoyal
Hi I ran this command:
conda install -c pytorch -c tensorcomp tensor_comprehensions

[2018-03-15 21:49] prigoyal commented on #164
thanks @nkpng2k for the info. can you try the following once and let me know if it works:
[code]

I believe that there is another pytorch install in your env PATH and that is colliding with the pytorch version TC is compatible with.

[2018-03-15 22:28] nkpng2k commented on #164
@prigoyal

after creating a new environment, I tried running the example again. Same issue. So I deactivated the environment, used conda uninstall to remove pytorch and tensor_comprehensions. Reactivated the environment, can't import --> torch module not found.

Reinstalled pytorch and tensor_comprehensions in the conda env, same issue.

[2018-03-15 22:57] prigoyal commented on #164
@nkpng2k can you show the log of the steps and the output of them?

can you also confirm if you executed the steps
[code]
in the exact same order.

[2018-03-16 00:06] nkpng2k commented on #164
`npng@tensor-comp:~/TensorComprehensions$ conda create -y --name tc-env python=3.6
Solving environment: done

## Package Plan ##

  environment location: /home/npng/anaconda3/envs/tc-env

  added / updated specs:
    - python=3.6

The following NEW packages will be INSTALLED:

    ca-certificates: 2017.08.26-h1d4fec5_0
    certifi:         2018.1.18-py36_0
    libedit:         3.1-heed3624_0
    l

[2018-03-16 00:07] nkpng2k commented on #164
[code]

[2018-03-16 00:07] nkpng2k commented on #164
@prigoyal ^

[2018-03-16 09:17] ttheodor commented on #162
The behavior I observed is that it only stops after all remaining generations have finished (which is obviously not the intended functionality).

[2018-03-16 10:01] ftynse commented on #128
Fixed in #139

[2018-03-16 10:01] #128 closed

[2018-03-16 12:13] prigoyal commented on #162
Hi @ttheodor, thank you for the insight. It should not wait for all generations to finish. Perhaps something got broken in the code logic. are you on master branch or dev branch?

[2018-03-16 12:14] prigoyal commented on #164
thanks. I am not able to repro the segfault this way. Can you tell the output of below:
1. python -c 'import torch; print(torch)'
2. which python

[2018-03-16 12:19] ttheodor commented on #162
On dev, can you confirm that it works on your machine?

[2018-03-16 12:22] ftynse commented on #162
seems to work for me as expected (abort at the end of the current generation)
[code]

[2018-03-16 12:25] ttheodor commented on #162
Can you run it it with ```--smoke_check=0 --gtest_filter='*TensorDot' --tuner_threads=8``` (choose a high number of threads).

[2018-03-16 12:27] ftynse commented on #162
works too, but it takes a non-negligible amount of time to finish the generation
[code]

[2018-03-16 16:43] nkpng2k commented on #164
Conda Env Not Activated:
[code]

Conda Env Activated:
[code]

[2018-03-16 16:43] nkpng2k commented on #164
@prigoyal ^

[2018-03-16 18:00] stromnov commented on #164
Same issue:

[code]

[2018-03-16 19:14] ftynse commented on #164
@stromnov your issue looks different; first thing -- you forgot `.cuda()` when creating tensors so they were not allocated on the gpu.

[2018-03-16 19:24] stromnov commented on #164
@ftynse: `.cuda()` was specially omitted just to be sure that problem not in CUDA drivers.

[code]

[code]

[2018-03-16 23:53] prigoyal commented on #164
@stromnov , @nkpng2k can you provide some repro ? maybe a docker image etc?

[2018-03-17 00:43] #113 closed

[2018-03-19 11:51] singam-sanjay commented on #133
Setting CPATH to $PROTO_DIR:$CPATH solved the problem ! Thanks @ftynse

[2018-03-19 11:51] #133 closed

[2018-03-19 13:24] leftthomas opened #170 "Bug of returned data type - Variable instead of Tensor"
- OS: Linux64
- How you installed TC (docker, conda, source): conda
- Python version: Python3.6.4
- CUDA/cuDNN version: CUDA8.0/cuDNN7.0.5
- Conda version (if using conda): 4.4.11

I have written an example to test matmul, and I found if I use PyTorch Tensor to compute, then the TC will return a Variable, but not Tensor, I think TC should return Tensor when we call it through Tensor, return Variab

[2018-03-19 13:38] skimo-openhub commented on #34
@wsmoses, I've put some code in the `pr/coincident` branch of the `isl` submodule.
It exposes an `isl_ast_node_for_is_coincident`, which you can either call directly
using `isl_ast_node_for_is_coincident(node.get())` or through the C++ interface
as `node.for_is_coincident()`.  For the latter option, you need to configure with
`-DWITH_BINDINGS=1` as otherwise the C++ bindings do not get updated.
Le

[2018-03-19 14:35] prigoyal commented on #170
thanks @leftthomas , indeed this is an oversight. we'll fix this and update will be released in next binaries. Thanks for reporting :)

[2018-03-19 14:57] prigoyal commented on #164
Hi @stromnov and @nkpng2k , I was thinking more about this and I was wondering if you have ever built pytorch from source? or were using other pytorch version before?

also, @nkpng2k , from can you run:
[code]
inside `ipython` interpretor and show me the result? thanks!

[2018-03-19 16:24] jeanfeydy opened #174 "Support for "sumExp(x) +=! exp( ... )""
Hi everyone,

First of all, let me thank you for putting so much effort into this accessible, versatile library.

As a mathematician working at the intersection between shape analysis and optimal transport theory, I am interested in computing **log-likelihoods of Gaussian models**, i.e. expressions of the form

log(μ ★ k)(x) = log( ∫ k(x-x') dμ(x') )

where μ is a measure (say, a sum of atomic dir

[2018-03-19 17:23] abidmalik1967 opened #175 "MPI suppot"
I apologize if this question is not relevant to this forum. Does this framework support MPI?

Thanks,

Tensor Comprehensions Github Issues Guidelines
----------------------------------------------

If you have a feature request or a bug report (build issue), please open an issue on Github and fill the template below so we can help you better and faster. If you have some general
questions about Ten

[2018-03-19 17:30] nicolasvasilache commented on #174
@jeanfeydy thanks for your very detailed issue and very interesting use case.
So we had a quick chat with @apaszke about the log-sum exp trick just yesterday in the context of logsoftmax, flagging him.

I need a bit more time to digest all this but I'll try to make a C++ unit test out of it because there is no fundamental reason TC shouldn't support it.

[2018-03-19 17:42] ftynse commented on #175
Not at the moment.  TC targets a single device (GPU, CPU) and does not manage communication nor allocation.  This may change in the future.

TC is _not a framework_.  It may be integrated into ML frameworks, like PyTorch or Caffe2.

[2018-03-19 17:49] prigoyal commented on #174
Hi @jeanfeydy, thanks for your kind words. we do support `+=exp(...)` reductions. Checkout one example here: https://github.com/facebookresearch/TensorComprehensions/blob/master/test_python/layers/test_softmax.py#L32

having gibberish values is definitely something not expected. May I recommend that you try conda installation of TC and then inspect the values. ATM, we don't provide official instru

[2018-03-19 17:51] ftynse commented on #174
Hi @jeanfeydy, thanks for your report, we will take a look.  Some quick answers

I don't see a reason (other than a bug) why this shoudn't work.

No, there was a fix for `max=!`, which you need, after that.

@prigoyal I'm not sure latest conda binary includes the fix for `max=!`, if it does not let's not recommend replacing TC built from source with it here

[2018-03-19 17:51] prigoyal commented on #174
I assigned this to myself to figure out if the issue lies with pytorch source install with TC.

[2018-03-19 17:52] prigoyal commented on #174
Hi @ftynse , the binary does not include the fix for `max=!`. My recommendation for using conda package is to check for the gibberish value :) thanks

[2018-03-19 18:19] prigoyal commented on #175
I believe @nicolasvasilache would have something to add ;)

[2018-03-19 18:32] abidmalik1967 commented on #175
Thanks for the feedback.

Can this be integrated with Tensorflow? I quickly went through the paper
"Tensor Comprehension: Framework - Agnostic High Performance Machine
Learning Abstractions". It didn't talk about TF much. Maybe I missed
something. Also, Can it be used with OpenMP programming models etc?

On Mon, Mar 19, 2018 at 2:19 PM, Priya Goyal <notifications@github.com>
wrote:

--
Abid M. Mal

[2018-03-19 18:37] ftynse commented on #175
Yes, it can be integrated.  We will be happy to provide assistance in that, but you'd have to contact Tensorflow developers and ask them to integrate TC.

Yes, it should be possible to emit OpenMP or other parallel code for CPU.  This backend is still in progress (and will probably not use OpenMP but a parallel version of the LLVM IR called Tapir).  Stay tuned for the release.

[2018-03-19 21:21] stromnov commented on #164
Sorry, I just don't know yet how to properly provide reproducible environment for that issue.

About pytorch: module was built from sources (tag v0.3.1) using tc-build anaconda environment. There are no other pytorch modules installed.

[2018-03-19 22:42] mingzhe09088 commented on #155
I updated ATen locally and tried toe compile. https://github.com/mingzhe09088/TensorComprehensions/tree/Aten-update

I encountered the following compilation issues:
CMake Error at src/ATen/cpu/tbb/CMakeLists.txt:53 (list):
  list sub-command REMOVE_ITEM requires two or more arguments.

CMake Error at src/ATen/CMakeLists.txt:305 (ADD_SUBDIRECTORY):
  The source directory

    /home/mingzhe0908/TC/f

[2018-03-20 03:04] leftthomas commented on #170
@prigoyal There are a doc typo bug of `tc.options` about `group conv`, the desc of `conv` is same to `group conv`.
<img width="1027" alt="qq20180320-110155 2x" src="https://user-images.githubusercontent.com/9991443/37633738-7e551578-2c2e-11e8-972f-bd2b57bbbb3d.png">

[2018-03-20 06:27] leftthomas opened #176 "Bug of doc example"
- OS: Linux64
- How you installed TC (docker, conda, source): conda
- Python version: Python3.6.4
- CUDA/cuDNN version: CUDA8.0/cuDNN7.0.5
- Conda version (if using conda): 4.4.11

1. There are a doc typo bug of `tc.options` about `group conv`, the desc of `conv` is same to `group conv`.
<img width="1027" alt="qq20180320-110155 2x" src="https://user-images.githubusercontent.com/9991443/37633738-7e

[2018-03-20 13:36] prigoyal commented on #176
thanks @leftthomas for the report. This will be fixed in the next release cycle :)

[2018-03-20 14:26] seongwook-ham opened #178 "auto tune for cuda tensor not on device 0 does not working"
`mat1 = torch.ones(batch, total_length, width, height).cuda(device=1)
mat2 = torch.ones(total_length).cuda(device=1)

mat3 = torch.IntTensor(temp_list)
mat3.t_()
mat3=mat3.cuda(device=1)

function.autotune(mat1, mat2, mat3, options=tc.Options("conv"),
                      cache="function.tc",
                      pop_size=100, generations=25, gpus="0,1,2,3", threads=15)`

print following error

[2018-03-20 14:34] jeanfeydy commented on #174
Wow, thanks a lot for your quick answers!
Unfortunately, it looks like there's something strange happening in the TC compiler: I could reproduce the bug on a completely different machine, using the standard conda packages for PyTorch and TC.

More precisely: on a distant machine with Ubuntu 16.04, nvidia 387.26, a GeForce GTX 780 Ti GPU and CUDA 9.1, I typed

[code]

The result was basically the s

[2018-03-20 14:36] ftynse commented on #174
Could you please test with filter sizes 31,32 and 33?  This sounds like there may be a problem with warp-based reductions.

[2018-03-20 15:25] jeanfeydy opened #179 "Convolution outputs gibberish values when filter size > 32, with naive mapping options"
Hi all,
When playing around with large convolution filters, I discovered an unexpected behavior: with a large filter, if the input image size exceeds 32, a standard convolution outputs gibberish results.

[code]

[code]

**The output "B" should have stayed equal to a translated copy of the convolution filter, but for one reason or another, this stops being true when the length of `A` exceeds 32.**

[2018-03-20 15:34] jeanfeydy commented on #174
Hi @ftynse , I submitted a bug report for the standard convolution.
As for the log-convolution (i.e. this bug report), no choice of mapping options solves the problem: the output of `log_convolution_1Db` is gibberish, whatever the input size and mapping.

[2018-03-20 17:05] prigoyal commented on #179
assigning to @ftynse to take a look who had some ideas around warps mapping.

[2018-03-20 17:10] prigoyal commented on #164
thanks @stromnov , may I recommend that you use the conda install of pytorch rather than build from source. We don't provide official instructions for building pytorch from source and using with TC atm. Can you try and let me know if the conda install works fine? :)

[2018-03-21 12:45] prigoyal commented on #174
Hi @jeanfeydy , it looks like #179 issue captures the drilled down issue and hence this current issue can be closed?

[2018-03-21 12:48] prigoyal commented on #162
Hi @ttheodor , it looks like the sigint/sigterm are working as expected. Perhaps something is not right in your build env? can you try again and let us know if this works.

[2018-03-21 12:53] prigoyal commented on #77
Jenkins is functional now and is working fine. Bunch of PRs have been tested and merged. Closing out this master task now hence. For any follow-ups, we will create a separate task and address things.

[2018-03-21 12:53] #77 closed

[2018-03-21 12:54] jeanfeydy commented on #174
Hi @prigoyal , I'm not sure about this: the bug #179 is related to large convolution filters / loops, whereas this one happens whenever I combine a **non-trivial reduction** with a **non-trivial range inference**.
That is, writing
[code]
outputs gibberish results whatever I do: choosing small vectors or smart mapping options *does not solve* anything.

[2018-03-21 12:55] ttheodor commented on #162
It is working but it's still annoying:
Sending a SIGTERM (Ctrl+D) signal to a process and then waiting seconds~minutes (depending on how large each generation is) is not a behavior I would expect.

Why are we not terminating the process as soon as the caches are dumped on a SIGTERM?

[2018-03-21 12:56] prigoyal commented on #174
thanks @jeanfeydy. can you provide us with a gist link for repro?

[2018-03-21 12:59] prigoyal commented on #162
Hi @ttheodor , we wait for the current generation to finish. Before the next generation starts, we check for the signal and don't start the generation if the sigint/sigterm is thrown. But we don't interrupt the current generation if the signal has been passed. I agree that it would be nice to kill the current generation as well but this requires more deep code changes. Feel free to take a stab at

[2018-03-21 13:00] ftynse commented on #162
I still think it can be handled by running the autotuner as a separate process and then killing that process, from the python side.

[2018-03-21 13:01] ttheodor commented on #162
@prigoyal
Would the following behavior be acceptable:

On SIGINT:    maintain the current behavior.
ON SITERM: dump caches and abort

[2018-03-21 13:04] prigoyal commented on #162
Hi @ttheodor , that sounds reasonable. :)

[2018-03-21 13:22] jeanfeydy commented on #174
Sure, here it is https://gist.github.com/jeanfeydy/155e0f2bd5bb9b1dd8a2a4f6e7109530
(Just a copy-paste of the OP; I didn't know that we could share scripts so easily...)

[2018-03-21 16:58] nkpng2k commented on #164
@prigoyal This is what I have.

[code]

[2018-03-21 17:46] merrymercy opened #186 "How to define padding in convolution layer"
In ML layer database (https://facebookresearch.github.io/TensorComprehensions/framework/pytorch_integration/layers_database.html#convolution-layers), I cannot find examples about padding.
How to express that in TC?

[2018-03-21 19:49] prigoyal commented on #186
Hi @merrymercy , we don't explicitly support padding in TC yet. There is task open for it already, #11

[2018-03-21 19:49] prigoyal commented on #186
I'll close out this as duplicate issue now.

[2018-03-21 19:49] #186 closed

[2018-03-21 20:14] prigoyal commented on #12
as @nicolasvasilache correctly linked, we have a test case for it now. https://tensorcomprehensions.slack.com/files/U9S8ULND6/F9T5723L2/range_inference.py

[2018-03-21 21:57] ftynse opened #190 "Warning for uninitialized reductions"
Consider the following layer with a reduction:
[code]

It uses a reduction **without initialization**, which _reads_ from `output` before writing to it.  Such behavior is essentially undefined because we have no control over what is stored in the output tensor given to us by the upstream framework.  Such behavior is dangerous and should be avoided.  We need at least a warning, or even an compilati

[2018-03-22 00:52] nkpng2k commented on #164
@prigoyal I apologize. I forgot to start the conda env before that last comment, but that is not the issue. Ran again within the conda environment after running conda install ipython just to be sure.

[code]

[2018-03-22 11:08] stemill opened #191 "Problem with range inference"
- OS: Ubuntu 16.04
- How you installed TC: conda
- Python version: 3.6
- CUDA/cuDNN version: 9.1/7.1
- Conda version (if using conda): 4.4.10

There appears to be a problem with range inference. In the example below I expected the output tensor to have shape [5,2], not [5, 5]

[code]

[2018-03-22 13:43] #176 closed

[2018-03-22 14:32] prigoyal commented on #191
thanks @stemill , this issue is duplicate to #12 , I'll close out this in in favor of that. :)

[2018-03-22 14:32] #191 closed

[2018-03-22 16:38] prigoyal commented on #164
thanks @nkpng2k. We need to figure out the repro for this to find the issue. Can you try this inside docker environment and see if that works? I think the reason for segfault is that there is a different pytorch install that's getting picked up and is not compatible with the TC package. So  isolating the env and trying in docker file will help confirm that.

[2018-03-23 09:09] yazdanbakhsh commented on #164
I am getting the same segmentation fault. I have installed PyTorch with
    conda install pytorch torchvision -c pytorch

[2018-03-23 09:32] skimo-openhub opened #193 "autotuner should catch compilation failures"
By its very nature, the autotuner is not deterministic.
It may sometimes uncover compilation failures on the CI,
but these cause an abort instead of printing the feature vector
that could be used to reproduce the issue.
See, e.g., #181.

We probably need to redefine the `CHECK` macros to throw an exception,
at least when run under the autotuner.
Unfortunately, calling `google::InstallFailureFuncti

[2018-03-23 10:17] yazdanbakhsh commented on #164
Tried nvidia-docker. Got segmentation fault again.

[2018-03-23 13:42] prigoyal commented on #164
@yazdanbakhsh this is great news. If the error is reproed in the docker env, we can start finding the root cause. Can you provide me the exact set of instructions that I can use to repro? Thanks.

[2018-03-23 13:45] prigoyal opened #194 "Modernization of TC repo"
We have been having some discussions to modernize the TC codebase. Here are the proposed changes:

- [x] ~Create a top level 'tc' folder, create tc/proto and move .proto files there. They should be included as tc/proto/mapping_options.pb.h~ done in #279
- [x] ~Move subfolders of include/tc into tc/ and same for subfolders of src/~ done in #279
    - Use best judgement for merging some of those fol

[2018-03-23 13:47] prigoyal commented on #194
Hi TC team: @skimo-openhub , @ttheodor , @ftynse , @nicolasvasilache , @abadams , @zdevito

as we have been discussing this over VC and have concluded to most things, I created this issue to track the progress as I work on this. I would love to hear comments from you all on this.

[2018-03-23 13:53] nicolasvasilache commented on #194
nice summary, thanks!
looks good to me.
Let's just hold off until pr/decouple-cuda is sent for review and lands otherwise merge conflicts will be massive.

[2018-03-23 13:55] prigoyal commented on #194
thank you @nicolasvasilache for the review. Do we have an ETA on pr/decouple-cuda for when it is expected to land? :) cc @salexspb

[2018-03-23 13:57] nicolasvasilache commented on #194
I'm cutting a large commit into smaller ones as we speak, it will prob require a few rounds of review but hopefully will land soon.

[2018-03-23 14:07] ftynse commented on #194
I also prefer #149 and #161 to land.  Otherwise I will feel like abandoning those PRs.

[2018-03-23 14:15] ftynse opened #195 "Increase the default number of the autotuner generations in python bindings."
https://github.com/facebookresearch/TensorComprehensions/blob/479815449a3a438a69ba21b8c2eb9bf52c594443/tensor_comprehensions/tc_unit.py#L192

By default, the autotuner in python runs 2 generations with very small population size.  This is largely insufficient, even "some check" tests run longer.

@prigoyal @nicolasvasilache @ttheodor

- [x] bump up the defaults in tc_unit.py
- [x] modify python un

[2018-03-23 14:16] ttheodor commented on #195
This doesn't make sense at all. It should definitely be bumped up.

[2018-03-23 14:26] ftynse opened #196 "untangle compilation/tuning/options relation in the documentation"
Documentation, in particular the [tutorial](https://facebookresearch.github.io/TensorComprehensions/tutorials/tutorial_tensordot_with_tc.html), sort of hides the relation between compilation and tuning.  This has led to many misconceptions about how TC actually works:
- compilation != autotuning, the latter runs the former thousands of times
- compilation errors mean incorrect syntax and the TC ex

[2018-03-23 14:26] ftynse commented on #196
cc @prigoyal

[2018-03-23 14:35] nicolasvasilache commented on #194
@skimo-openhub absolutely, the circular dependence should be a non-problem and an indication of code-smell. We should ensure we use TensorComprehensions.h internally and that will probably require refactorings (e.g. we probably should not expose the functionality from ```core/cuda/cuda.h``` at any time in ```TensorComprehensions.h ``` or we'll have to start including ```#ifdef``` spaghetti; ideall

[2018-03-23 14:39] prigoyal commented on #195
Hi all, thanks for the discussion. What settings would you like to have for these options? concrete numbers would help.

cc @soumith @hmansell

[2018-03-23 14:41] prigoyal commented on #196
thanks @ftynse, great point. Would you like to take a stab at correcting the docs to make things more verbose and clear since you have been seeing these misconceptions from users? :) assigning to you tentatively.

[2018-03-23 14:43] prigoyal commented on #195
assigning to @ftynse and @ttheodor for providing some concrete numbers on the settings. I can make the required changes then. Thank you :)

[2018-03-23 14:45] ftynse commented on #195
I would recommend a benchmark-centered approach.  We run tuning on scale once and analyze after how many generations the performance increases only at a small rate, and pick that value.

However, I am unable to run tuning on scale and neither is @ttheodor AFAIK.

[2018-03-23 14:57] prigoyal commented on #195
that sounds reasonable. assigning to Nicolas as well for providing some stats. :)

[2018-03-23 15:07] prigoyal opened #199 "Prepare TC for the next release"
In the next release, we want to improve the pybindings besides other things:

- [ ] PyTorch now provides the cpp extensions that we can use to extract aten tensor directly from PyTorch tensor. This should help with perf.
- [ ] Variable/Tensor are merged in PyTorch master/next release. TC python API needs to adapt accordingly.
- [ ] There are some segfaults in TC cpp tests when pytorch conda packag

[2018-03-23 15:08] prigoyal commented on #170
this will be addressed in the next TC release where Variable/Tensor will be merged as per PyTorch changes. Closing this task in favor of #199 where this point has been added. :) thanks a lot.

[2018-03-23 15:08] #170 closed

[2018-03-23 15:10] prigoyal commented on #155
Hi @mingzhe09088 , for this particular error, you need to run ```git submodule update --init --recursive``` .

[2018-03-23 15:25] ftynse opened #200 "Check failure in codegen_cuda"
[code]

most likely due to isl abuse wrt set dimension names.

**Broken autotuner test**
`./build/examples/example_MLP_model --gtest_filter=*.C3 --B=128 --D=64 --L1=50 --E1=10000000 --L2=50 --E2=10000000 --WX=1000 --WY=1024 --M=2000 --N=128 --O=64 --P=32 --Q=2 `

**Offending options**
[code]

[2018-03-23 19:39] prigoyal commented on #164
repro from the user here https://tensorcomprehensions.slack.com/files/U9EJ73BUH/F9V8DR150/The_commands_to_install_TensorFlow_in_docker__It_generates_a_segmentation_fault_.cpp

I'll repro this myself by following the exact same step as user and root-cause this. :)

[2018-03-24 00:34] salexspb commented on #194
I am bit confused about TensorComprehensions.h causing circular deps if it just does includes of private code.

On a separate note - what is the evidence that it is needed? I tried to find example of modern codebases with large external community. PyTorch is not good example as it was mainly focused on Python.

How about TensorFlow? Here is their c++ API intro: https://www.tensorflow.org/api_guide

[2018-03-24 04:22] seongwook-ham opened #204 "Support for flexible input dimension"
when using autotuned cached option for tc compiled function, now input size is fixed.
in training neural network, it is common that batchsize is (2^x).
but test set is commonly not divided by batchsize.
so when i want to use tc function practically, we have to autotune function twice for train and test purpose. also when number of gpu or batchsize is changed, or transfer learning is needed, re-aut

[2018-03-24 12:30] ttheodor opened #205 "Compilation Cache keys"
Part of the compilation cache keys is a TC's ID. Up until now we have been using the function name of a TC. As it has been discussed multiple times we want to switch to something more discriminative.

One idea that has been floating is to use a pretty printed version of the whole TC definition. Are there are any other suggestions/alternatives?

[2018-03-24 15:43] prigoyal commented on #204
Hi @seongwook-ham, thank for the request and detailed explanation. This is also being discussed in the issue https://github.com/facebookresearch/TensorComprehensions/issues/46 does this look same? :)

[2018-03-24 17:16] seongwook-ham opened #207 "Inconsisient error happens in autotuning"
`import tensor_comprehensions as tc

import math as ma
import torch
import torch.nn as nn
import torch.nn.functional as F
import random
import time
import os

from torch.autograd import Function

LANG = """
def function(float(N,C,H,W) I, float(C) S, int32(L,A) R, int32(C) R2) -> (output){
output(n,l,h,w) +=! (R(l,a)==C? float(0):I(n,R(l,a),h,w) * S(R(l,a)))
}
def function_grad(float(N,C,H,W) I, fl

[2018-03-24 17:25] seongwook-ham opened #208 "Inconsisient error happens in autotuning"
import tensor_comprehensions as tc

import math as ma
import torch
import torch.nn as nn
import torch.nn.functional as F
import random
import time
import os

from torch.autograd import Function

LANG = """
def function(float(N,C,H,W) I, float(C) S, int32(L,A) R, int32(C) R2) -> (output){
output(n,l,h,w) +=! (R(l,a)==C? float(0):I(n,R(l,a),h,w) * S(R(l,a)))
}
def function_grad(float(N,C,H,W) I, flo

[2018-03-24 17:33] #208 closed

[2018-03-25 00:26] prigoyal commented on #207
Hi @seongwook-ham , have you tried re-running the autotuning? If not, can you re-try and report if you still get the error? thanks

[2018-03-25 00:50] seongwook-ham commented on #204
yes it is same issue

[2018-03-25 00:51] prigoyal commented on #204
thanks, we'll close this out as duplicate and the first issue will track the progress :)

[2018-03-25 00:51] #204 closed

[2018-03-25 15:00] nicolasvasilache commented on #46
Let me first share some context about parametric sizes and then a short-term "solution" that should work in practice.

Solving the general problem is complicated as it requires inferring proper parameter regions and devising proper strategies for each region; this is a longer term goal to make it push button and *just work*. Additionally emitting symbolic code involves inefficiencies (control-flow

[2018-03-25 15:01] nicolasvasilache commented on #204
@Roadwalker, please also see my latest reply in #46

[2018-03-25 19:43] ftynse commented on #207
On each run, the autotuner may check different mapping options.  The error occurs with at least one configuration of options, or maybe a certain set.  It may or may not appear on the subsequent run.

@prigoyal autotuner runs are inherently non-deterministic.  They may uncover some errors in one run, and then complete just fine for a long time.

Thanks for reporting it, we will take a look.  From t

[2018-03-25 19:44] ftynse commented on #207
It is if you wrap your code into three backticks (or use the "<>" button in the interface).

[2018-03-25 21:02] nicolasvasilache commented on #205
@zdevito created an anomization function for  TC before the release. Iirc
there is 1 test so look up in the tests to find it ? I can point you to it
tomorrow otherwise

On Sun, Mar 25, 2018 at 3:46 PM ftynse <notifications@github.com> wrote:

[2018-03-26 00:37] seongwook-ham commented on #207
it do not work for elementwise. and works for other option but makes error intermittently.
this error occurs about once every 1-4 hours. so i re-run the script when occurs error.

[2018-03-26 01:43] nicolasvasilache commented on #207
Errors and corresponding options should get automatically logged to
/tmp/xxx.WARNING and /tmp/xxx.ERROR could you please paste say the last 100
lines of those files in a gist?
Thanks!

On Sun, Mar 25, 2018 at 8:37 PM, Roadwalker <notifications@github.com>
wrote:

[2018-03-26 02:40] fsword73 commented on #195
During the evaluation of SGEMM,  MNK from 128 to 4096.  The best performance is only 18% of Peakflops.   Most SGEMM's performance is less than 5% PeakFlops.

It will be great with big polulation size and generations.

A demo autotuner of SGEMM with effective 80% Peak Flops will bring out real confidence to encourage developer to integrate TC as backend.  Or Even demo tuning process of SGEMM will b

[2018-03-26 06:34] ftynse commented on #207
The options you pass to the autotuner are only a _starting point_ for the search.  In each run, the autotuner picks thousands of random options combinations.

[2018-03-26 06:41] ftynse commented on #195
@fsword73

Performance of sgemm is not likely to increase significantly however long you run the TC autotuner.

We need to perform several other code transformations than we currently do to speed up gemm more. Note that gemm is the most hand-optimized kernel in history.  For the vast majority of sizes, library versions do a good job on it.  So if your library version runs fast, you are better off

[2018-03-26 06:49] seongwook-ham commented on #207
i run script on aws one more time and following error occurs intermittently.
Check failed: !subscriptAff.get() expected one piece
*** Check failure stack trace: ***
Aborted (core dumped)
but /tmp/xxx.WARNING and /tmp/xxx.ERROR does not exist in aws ec2

[2018-03-26 07:18] back2yes opened #209 "Incorrect results with large size tensors"
Hi, I am starting to learn Tensor Comprehensions and I like your auto-tuning idea a lot. It seems to be a real time saver.

When I followed the tutorial [here](https://facebookresearch.github.io/TensorComprehensions/framework/pytorch_integration/writing_layers.html) I found that the function worked fine with small tensors, but when the elements within the tensor exceeded some certain number, the r

[2018-03-26 07:38] back2yes commented on #209
Checked the dimensions
[code]

[2018-03-26 07:42] ftynse commented on #207
I might have identified it in #200 and fix is available in #202.  If this is the only error that appears for you, let's close this issue as a duplicat.

It's not literally `xxx`, anything with `.WARNING` or `.ERROR` extensions.

[2018-03-26 08:05] #200 closed

[2018-03-26 12:10] arogozhnikov opened #211 "Kernel dropping on CPU tensors"
When submitting a bug report, please include the following information (where relevant):
- OS: ubuntu 16.04
- How you installed TC (docker, conda, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 9 / 7
- Conda version (if using conda): conda 4.3.30
- Docker image (if using docker): nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04
- GCC/GXX version (if compiling from source): 5.4.0
- LLVM/Tapir g

[2018-03-26 12:15] skimo-openhub commented on #194
On Fri, Mar 23, 2018 at 05:34:18PM -0700, Alexander Sidorov wrote:

It shoudn't be needed.  The private headers should include
the public header and not the other way around.

skimo

[2018-03-26 12:41] nicolasvasilache commented on #211
@arogozhnikov TC indeed does not support CPU atm, this is work in progress.

[2018-03-26 12:43] nicolasvasilache commented on #207
@seongwook-ham indeed, in C++ it is your binary name followed by ```.WARNING``` or ```.ERROR``` extensions. Not sure what that looks like from python atm.

[2018-03-26 12:54] nicolasvasilache commented on #194
@salexspb I seem to remember you proposed ```TensorComprehensions.h``` during our discussion based on ```Halide.h``` and that you mentioned circular dependencies and I think the list above reflects the discussion we had; we can certainly drop that.

Personally, AFAIC there is no public C++ API at. We can grow one incrementally as needed. The first candidates are what is needed to write and run tes

[2018-03-26 13:08] prigoyal commented on #211
Hi @arogozhnikov , thanks for reporting. We don't support CPU computations in TC right now. However, adding a simple check for `is_cuda()` should definitely be possible. I'll re-title this issue to reflect that more properly. Thank you :)

[2018-03-26 13:18] prigoyal commented on #195
very exciting to hear about the library call matching. @ftynse , I was curious if we have heuristics or ideas around how to detect whether a kernel for some sizes will be more efficient in a library or TC should do codegen. Do we have thoughts on that? :) Thanks.

[2018-03-26 13:27] prigoyal commented on #194
Hello everyone, thanks for the discussion. It seems like on `TensorComprehensions.h` we are still undecided if this is the right way to go. @salexspb, I was wondering if this is required for fbcode or perhaps not?

@ftynse , @nicolasvasilache I also wanted to do a friendly ping on #197, #149, #161 on the ETA for their merge as I and @salexspb were both wondering. This would allow better prioritiza

[2018-03-26 13:29] nicolasvasilache commented on #195
@prigoyal it shouldn't be a surprise, we've been discussing this for a few months already :) Reg. implementation of the decision, a prereq is to have proper modeling and a roofline estimate. #198 is a first step in that direction.

[2018-03-26 13:33] prigoyal commented on #195
thanks @nicolasvasilache, definitely not a surprise to me :) I am rather curious about the details/ideas there and if this is happening anytime soon. Thanks for pointer to #198. I will wait out for a roadmap to be available likely for more information :) thanks again.

[2018-03-26 13:35] nicolasvasilache commented on #194
#149 and #161 I plan to merge today
#197 needs a review

[2018-03-26 13:37] prigoyal commented on #209
thanks @back2yes . Hi @ftynse , just wanted to get your opinions on this. Does this case also look familiar to #179 ? thanks :)

[2018-03-26 13:44] nicolasvasilache commented on #195
Reg. default sizes, ```pop_size=20, crossover_rate=80, mutation_rate=7, generations=10``` should be a good tradeoff between coverage and speed for users that do not want to look into the details.
We could also bump to ```generations=20``` if we don't get too many complaints.

Sounds reasonable @ttheodor ?

[2018-03-26 13:51] wsmoses opened #213 "Create Preserve1Coincident fusion strategy"
Similar to Preserve3Coincident necessary for GPU, except now only one outermost coincident loop is needed for CPU

[2018-03-26 13:57] wsmoses commented on #34
Working on integration now, but yes that pr/coincident change is needed.

[2018-03-26 14:05] skimo-openhub commented on #34
On Mon, Mar 26, 2018 at 01:57:05PM +0000, William Moses wrote:

Is it also _sufficient_?

skimo

[2018-03-26 14:06] wsmoses commented on #34
From the standpoint of ISL, yes it seems to be (had to integrate some scheduling into CPU first to properly test, and it indeed seems to work)!

[2018-03-26 15:07] back2yes opened #214 "Incorrect results in max_pooling"
Hi, I tried the max pooling kernel, and found that some elements in the results were incorrect (assuming the pytorch max_pooling function is correct). Here is my code:

[code]

the screen outputs goes within the following gist https://gist.github.com/back2yes/0f59a4dbd77b8092b3487902ab9a23c6

It can be seen that there are non-zero elements in the differences between output and output_ref.

Further

[2018-03-26 15:18] ftynse commented on #214
This formulation of max pooling is incorrect.  Please use `max=!`.  See #187 for more info.

[2018-03-26 18:09] salexspb commented on #194
TensorComprehensions.h is not required in FBCode and probably won't be used even if it exists.

In fact this was more a compromise for a raised by somebody issue about having .cc and .h together - people will have more files they see when looking for includes :) As I mentioned above, this doesn't seem to be a huge issue in my view. Good documentation and examples address an issue of "which headers

[2018-03-26 18:39] prigoyal commented on #194
cool seems like TensorComprehensions.h could be put on back-burner and we can evolve as we progress towards the modernization. As soon as @nicolasvasilache lands the 3 PRs, I'll work on the things created as checklist in this task. Thanks everyone :)

[2018-03-26 22:58] seongwook-ham commented on #207
i think aws do not makes log. i use ls -a in tmp folder no file is found.
as i already update to master branch and rebuild tc (after commit 7b291e3 is merged into master)
it still throw error.

    .tile(164)
    .mapToThreads(6, 82)
    .mapToBlocks(32, 64)
    .unroll(128)
    .tileImperfectlyNested(false)
    .useSharedMemory(true)
    .usePrivateMemory(false)
    .unrollCopyShared(false)
    .

[2018-03-26 23:22] back2yes commented on #214
Thanks for your reply. I tried as you suggested and found the following results:
1. Adding initialization works.
2. Similar to https://github.com/facebookresearch/TensorComprehensions/issues/209, given an input of size (N, C, H, W), the kernel gives wrong numerical values when H >= 66

Also I am wondering what initial value is used in the max-reduction routine? Is it initialized to some very small

[2018-03-27 00:47] seongwook-ham commented on #207
i update to master branch and rebuild tc (after commit  c315745  is merged into master) and re-run the code one more time.
    .useSharedMemory(false)
    .usePrivateMemory(false)
    .unrollCopyShared(true)
    .matchLibraryCalls(false);
*** Check failure stack trace: ***
W0327 00:42:49.319322  9061 genetic_tuning_harness.cc:435] Error at: /home/ubuntu/TensorComprehensions/src/autotuner/genetic_t

[2018-03-27 00:51] back2yes commented on #209
@prigoyal I tried autotuning the avgpooling layer, the results was correct, but for larger inputs with a size of (256, 256) it still couldn't work.

[2018-03-27 01:08] prigoyal opened #220 "CPU only build and test on Jenkins CI"
We want to enable CPU only build and test as well on CI so that the codepath is well tested especially given the use case for fb codebase :)

cc @salexspb

[2018-03-27 01:10] prigoyal commented on #209
thanks @back2yes , my guess is that we should inspect memory promotion likely. @ftynse, would you have some time to do a bit of investigation? thanks so much for your help.

[2018-03-27 01:12] perdavan opened #221 "Simple Example Walkthrough"
Existing tests run certain scripts to test certain aspects of the TC.
However, there is no simple example that starts with very simple kernels like GEMM or convolution and takes it forward through the tool chain.

The example folder also runs a shell script that performs a genetic algorithm search:
1- it is too complicated
2-it fails to build and compile without CUDNN

What is missing is a simple

[2018-03-27 01:12] prigoyal commented on #207
thanks @seongwook-ham for your efforts in getting the options. This feels like we have a stable repro for intermittent issue that we have been trying to figure out for some time. @nicolasvasilache , @ftynse what do you guys recommend as the next steps? the mapping options are also available now :)

[2018-03-27 01:13] prigoyal commented on #207
assigned tentatively to @ftynse / @nicolasvasilache to help investigate the options or point in the right direction :)

[2018-03-27 01:15] prigoyal commented on #221
Hi @perdavan thanks a lot for creating the issue. To be clear, you would like to see some examples or walkthrough on the C++ usage or the python usage of TC?

cc @abadams / @ftynse for the halide / polyhedral IR

[2018-03-27 02:47] prigoyal opened #222 "Check and remove redundant python tests (if any) + gen=2"
Hello all, in light of recent discussion around test time, I will go over the python tests to make sure everything runs for 2 generations and that no tests are redundant :)

as @salexspb has accurately pointed out: the test time tuning is an ongoing process and is hard to get right but has to be adjusted :)

[2018-03-27 03:57] prigoyal commented on #195
It looks like we are reaching over consensus here. I will assign it to myself now to make the requested changes. Thanks everyone for discussion. :)

[2018-03-27 09:46] ttheodor commented on #195
My feeling is that we should bump the population size more, but probably my feeling is as good as anyone's. Having said that, with  `pop_size=20,  generations=10`, we are exploring at most 200 variants. We have at least ~10 tunable parameters per kernel (and if we include tile/block/sizes, then more), I have very little confidence that there will be any reasonable exploration of that search space

[2018-03-27 13:11] arogozhnikov opened #224 "Correct way to use integer tensors with pytorch?"
When submitting a bug report, please include the following information (where relevant):
- OS: ubuntu 16.04
- How you installed TC (docker, conda, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 9 / 7
- Conda version (if using conda): conda 4.3.30
- Docker image (if using docker): nvidia/cuda:9.0-cudnn7-devel-ubuntu16.04
- GCC/GXX version (if compiling from source): NA
- LLVM/Tapir git

[2018-03-27 14:49] prigoyal commented on #224
Hi @arogozhnikov ,
[code]
this seems like the right way. we support `int32` . Can you report what error you are getting and we can certainly look further? :)

[2018-03-27 15:12] arogozhnikov commented on #224
Here is what I get:
[code]

[code]

Any additional info needed?

[2018-03-27 15:39] skimo-openhub commented on #179
Try #226

[2018-03-27 15:56] nicolasvasilache commented on #221
@perdavan for CPU-only tests there is ```test_mapper.cc```, ```test_mapper_llvm.cc``` and ```test_mapper_memory_promotion.cc``` which are unit tests that allow you to see what happens in the context of polyhedral mapping.

```test_core.cc``` shows what happens in the context of translation from TC to Halide to ISL including inference.

```test_tc_mapper.cc``` and ```test_tc_mapper_bugs.cc``` requi

[2018-03-27 16:02] nicolasvasilache commented on #46
@jekbradbury @seongwook-ham see if #225 starts addressing your needs. The code is still JIT'ed and will take a few seconds for various parameter sizes but autotuning results can be easily reused.

If you have real world parametric needs where you see many different versions for 1 parameter (i.e. > 100) then we probably can give you 1-3 parameters in a relatively short term but it would be great to

[2018-03-27 16:06] nicolasvasilache commented on #204
@seongwook-ham see if #225 starts addressing your needs. The code is still JIT'ed and will take a few seconds for various parameter sizes but autotuning results can be easily reused.

Note however that with TC as with any library there is no magic: if your problem sizes varies widely and you want the best performance **you need different** implementations. This is one of the reason the binary size

[2018-03-27 16:41] ftynse commented on #209
Given that the results are wrong for the naive options, the problem is most  likely _not_ memory promotion. Try #225, it fixes a similar problem in #129

[2018-03-27 16:51] prigoyal commented on #224
thanks @arogozhnikov, from the first look, it seems that the tensor is not a `cuda` tensor. may I recommend that you try it out by creating the cuda tensor x. You can also find one example of passing int32 tensors here https://github.com/facebookresearch/TensorComprehensions/blob/0d34ee36b757079e89058218a9186ae2a1f3b600/test_python/layers/test_indexing.py#L28 :)

[2018-03-27 16:53] prigoyal commented on #195
thanks @ttheodor , can you provide me with the numbers for the parameters that we should set? Happy to have that change :)

[2018-03-27 16:56] prigoyal commented on #162
closed by #206

[2018-03-27 16:56] #162 closed

[2018-03-27 22:07] seongwook-ham opened #230 "support for autotune cache reuse for different machine"
@ttheodor
i autotune the function in server with 4gpu and get cache file.
and i try to reuse generated cache file in different server with 4gpu.
but it throws error
2 server has diffenet gpu.
@nicolasvasilache said it is key related problem.
could you give me some instrunction to reuse cache files?

[2018-03-27 22:38] nicolasvasilache commented on #230
@ttheodor for more context I am thinking we could override the automatic HW key by some user specified string for load / store. The user is then responsible for ensuring things are proper.

@seongwook-ham note that performance on the machine you did not autotune for **will** be not great or even bad. If you want good results, autotune on the target HW (for the foreseeable future).

[2018-03-28 04:16] fsword73 commented on #195
@ftynse .  Calling of vendeor  GEMM is good choice since GEMM is mostly manual optmized.
AMD has  "https://github.com/ROCmSoftwarePlatform/Tensile which optimizes GEMM and batched GEMM by Auto-tuning.  GEMM is the basic test to have confidence from Developer.  In other words,  Is there any guidelines to integerate other backend like AMD ROCm.  Tensile will be good backend baseline to support Tenso

[2018-03-28 07:32] ftynse commented on #195
Do you mind opening a separate issue for this discussion? It is completely
orthogonal to the autotuning.

On Wed, Mar 28, 2018, 06:16 Jian yang <notifications@github.com> wrote:

[2018-03-28 07:45] ftynse commented on #214
#225 may be a fix for large sizes

Initial value for max-reduction is negative infinity.

[2018-03-28 10:31] skimo-openhub opened #232 "intermittent failure of CompilationCacheTest.ExpectQuerySuccessConcurrent"
I got this error message on a run of `test.sh` on 806e3b066a6a841786be4dde38357c972816dcaf:

[code]

Unfortunately, the seed is not helpful.  I'm unable to reproduce the problem.

When submitting a bug report, please include the following information (where relevant):
- OS: Linux
- How you installed TC (docker, conda, source): source
- GCC/GXX version (if compiling from source): gcc-6 (Ubuntu 6.4.

[2018-03-28 11:52] arogozhnikov commented on #224
Yes, sorry, I forgot about this again.

Thanks for pointing, I think that this example
[code]
should be fixed, because in my case just `int` didn't work., only `int32`

[2018-03-28 11:52] #224 closed

[2018-03-28 15:49] prigoyal commented on #224
makes sense, we'll fix that. Thanks @arogozhnikov :)

[2018-03-28 19:57] #195 closed

[2018-03-29 11:49] #34 closed

[2018-03-29 20:19] seongwook-ham commented on #207
is there some progress? @ftynse @nicolasvasilache

[2018-03-30 09:48] arogozhnikov opened #237 "Issues with EBNF (grammar)"
Hi again.
First, here is how grmmar currently looks in the documentation
[code]

Some problems I've faced

1. [+-*/%] - I wasn't able to use % (`expected a valid token but found '%' here`). And didnt' find in the docs, neither I was able to replace it with any CUDA ops). Suggestions?
2. `| 'int' | 'byte' | 'uint32' | ...` - `int32` here
3.  ```reduction ::= <associative reduction operator> ... ```

[2018-03-30 10:35] skimo-openhub commented on #207
On Mon, Mar 26, 2018 at 06:13:01PM -0700, Priya Goyal wrote:

Could you construct a C++ reproducer?

skimo

[2018-03-30 12:07] arogozhnikov commented on #237
And, according to grammar example below is impossible :)

[code]

[2018-03-30 12:32] ftynse commented on #237
Indeed, that extension is a part of _python bindings_ and is _not_ a part of TC language.

https://facebookresearch.github.io/TensorComprehensions/framework/pytorch_integration/writing_layers.html#writing-layers-with-scalars

[2018-03-30 12:51] arogozhnikov commented on #237
@ftynse not sure we got each other.

- I believe, you're talking about double brackets {{
- I'm  pointing that specification of output shape and type (`int32(M,N) O1`) is not included in grammar

[2018-03-30 13:00] ftynse commented on #237
Then it's better to specify what exactly you are pointing out.

Indeed, output sizes are always inferred rather than specified.

[2018-03-30 13:11] ftynse commented on #237
Probably not implemented yet, thanks.

Yes, and probably `int8` instead of byte for consistency.

I understand this as another option for reduction, but <associative reduction operator> is never defined. Shouldn't this be just a comment?

Yes

Not implemented either.

[2018-03-30 15:43] ftynse commented on #207
I think `clamp` _includes_ the right bound (see [here](http://pytorch.org/docs/master/torch.html#torch.clamp)), so your code might be reading from the incorrect address in `S(R(l,a)))` depending on which random numbers get generated.  `S(C-1)` is the last element you can legitimately access.

[2018-03-30 16:12] seongwook-ham commented on #207
output(n,l,h,w) +=! (R(l,a)==C? float(0):I(n,R(l,a),h,w) * S(R(l,a)))
when R(l,a)==C we do not access S(C). instead use 0.
it acts well in forward path.
there is problem is back propagation pass intermittently

[2018-03-30 16:35] seongwook-ham commented on #207
expected ident but found 'min' here: when i use min(R(l,a),C-1) instead of R(l,a)

[2018-03-30 18:44] karthiksn opened #240 "Check failed: v.is_zero()"
Here's a bit of C++ code which I'm running, which concatenates two arrays together:

[code]

The above code fails as follows:
[code]

[2018-03-30 20:57] prigoyal commented on #237
Hi @arogozhnikov , thanks for bringing this to attention. Indeed we should modify the documentation and display what works. Assigning this to myself to reflect these changes :)

[2018-03-30 21:01] prigoyal commented on #240
Hi @karthiksn , my understanding is that the CPU support is not yet ready. cc @ftynse, @wsmoses  and @nicolasvasilache to also confirm :)

Are you talking about the parser `WARNING` for disabling? locally you can certainly comment the code line which logs things to terminal and rebuild TC which in this case is https://github.com/facebookresearch/TensorComprehensions/blob/master/include/tc/lang/err

[2018-03-30 21:06] prigoyal commented on #222
closed by #223

[2018-03-30 21:06] #222 closed

[2018-03-30 21:08] karthiksn commented on #240
Gotcha - thanks for the heads up + quick response!

[2018-03-30 21:08] karthiksn commented on #240
By the way - any advice on how to write that kernel without a warning? I figure there's probably a nicer way of writing it that the kernel likes more :)

[2018-03-30 21:55] ftynse commented on #240
indeed, CPU support is work-in-progress, assume it does not work at all :)

[2018-03-31 03:41] seongwook-ham commented on #207
@skimo-openhub what does  C++ reproducer means?

[2018-03-31 06:10] seongwook-ham commented on #207
if you want to know function without autotuning act normally run following code
[code]

[2018-03-31 06:47] seongwook-ham commented on #207
@prigoyal @ftynse @nicolasvasilache
i got some weird phenomenon.
when i replace form of 'where x in 0:X' with 'where exists D(x)'. error occur less frequently.
following code is example. if i use 'used_lang=LANG' error occurs very frequently. but when i use 'used_lang=LAN4' error occurs not that frequently

[code]

[2018-04-01 14:10] amirsani opened #241 "[Build] undefined symbol: _ZNK6google8protobuf7Message11GetTypeNameEv"
When submitting a bug report, please include the following information (where relevant):
- OS:
Ubuntu 17.10
- How you installed TC (docker, conda, source):
conda install -c pytorch -c tensorcomp tensor_comprehensions
- How did you install pytorch
conda install pytorch torchvision cuda91 -c pytorch
- Python version:
3.6.5
- CUDA/cuDNN version:
0.3.1-py36_cuda9.1.85_cudnn7.0.5_2 pytorch [cuda91]
- C

[2018-04-02 02:00] sidelnik commented on #164
Would like to add that I am getting the exact same segfault errors as the users above. In my case I am trying with pytorch support for CUDA 9.1. I downloaded pytorch from `conda install pytorch torchvision cuda91 -c pytorch`

[2018-04-02 13:02] prigoyal commented on #240
@karthiksn I think for now, the way to write the kernel is by using `where`. We don't support anything else atm to allow inferring bounds. But perhaps we can look into not displaying the warning as it can be confusing.

[2018-04-02 13:03] prigoyal commented on #164
Hi @sidelnik , thanks for reporting. Indeed for cuda9.1 and pytorch install, we do get the segfault. This shouldn't happen with cuda8 though. We plan to work on resolving the segfault with cuda9 and provide TC package working with that in our next release. There is an issue tracking it: https://github.com/facebookresearch/TensorComprehensions/issues/129

[2018-04-02 13:04] skimo-openhub commented on #207
On Fri, Mar 30, 2018 at 08:41:02PM -0700, Roadwalker wrote:

A reproducer in C++.  That is, code that uses the C++ interface
rather than the Python interface and that exhibits the same
problematic behavior.

skimo

[2018-04-02 13:07] prigoyal commented on #241
Hi @amirsani , thanks for the report. It looks like you are installing two pytorch: in the first install with TC, pytorch with cuda8 is getting installed. Then it looks like pytorch with cuda9 was also installed separately. Can you try the following commands exactly in the order and let me know if you see the error:

[code]

also, can you tell me output of
[code]
which ipython
[code]
print(torch)

[2018-04-02 13:20] prigoyal opened #243 "Expose the setting for saving # best candidates in autotuning"
Currently, by default, we save 10 best candidates in autotuning and number `10` is also hardcoded here https://github.com/facebookresearch/TensorComprehensions/blob/master/src/autotuner/genetic_autotuner.cc#L60

Recently, some friendly users have asked if it is possible to rather set the number of candidates or maybe even save all i.e. can we expose this setting to users?

IMO, this seems like a l

[2018-04-02 13:20] prigoyal commented on #243
Hi @ttheodor , I would love to hear your views on this particular case. Thanks :)

[2018-04-02 14:12] prigoyal opened #245 "Multiply reduction not initializing with identity of reduction"
A user reported this problem here https://tensorcomprehensions.slack.com/archives/C98GR4E10/p1522443828000045

The multiply reduction *=! doesn't seem to be working i.e. it doesn't init output with the identity of reduction * which should be 1. Here the output is all still 0.

[2018-04-02 21:20] seongwook-ham opened #247 "min max error"
[code]

when i run code above. following error is printed
[code]
but due to following code in https://facebookresearch.github.io/TensorComprehensions/inference.html?highlight=min. my code shuould be run normally
[code]
why this min max error occurs?

[2018-04-03 09:32] nicolasvasilache commented on #247
@abadams I don't think you intended the above to be an actual working use case?

[2018-04-03 09:42] seongwook-ham commented on #247
do you mean that following code not acutally works?
[code]

[2018-04-03 13:27] Junonia opened #254 "TC ops fail to end when calculation is finished"
I am experimenting a simple TC op, the calculation finished quickly but the program then hangs and never exit.  Both GPU and CPU are still in full utilization even after the calculation is finished.  The example `matmul` code works fine.  I am wondering whether I am doing something wrong or there is a bug?

Below is the information
  -OS: Centos 7
  -How you installed TC:  conda
  -Python version:

[2018-04-03 14:08] ftynse commented on #207
@prigoyal could you please convert this code into a C++ test?  We are particularly interested in a standalone call to the backward function. Thanks.

[2018-04-03 14:28] ftynse commented on #245
Reduction initialization works just fine.

[2018-04-03 14:35] ftynse commented on #245
Given that the weight matrix contains only values `0.1`, the resulting value is
0.1^(N*C*H*W*KW*KW=0.1^(64*10*24*24*7*7) for the reported sizes, which is muuuuuch smaller than the smallest representable value in double (~10^-318), let alone float.  Given machine precision, our code correctly outputs 0 as the result of that operation modulo machine precision.

Note that with W1 filled with 1 instea

[2018-04-03 14:57] prigoyal commented on #245
thanks. the initialization is correct as verified in the code https://github.com/facebookresearch/TensorComprehensions/blob/master/src/core/tc2halide.cc#L571

my guess is the machine precision as well. I would love to hear from the user what they think of this to make sure we are not missing some perspective. Thanks. :)

[2018-04-03 15:31] abadams commented on #247
"expected ident but found min" sounds like a parsing error. @zdevito ?

[2018-04-03 15:50] prigoyal commented on #194
Hi @salexspb and all, I am hoping to start working on this in various steps. Are there any blocker PRs that you would like to land first? Thank.

[2018-04-04 03:55] seongwook-ham commented on #230
@ttheodor is there some progress?

[2018-04-04 13:29] #245 closed

[2018-04-04 17:34] ttheodor commented on #243
The only reason we are not saving more is space. We can definitely expose this option.

[2018-04-05 07:52] #205 closed

[2018-04-05 17:56] prigoyal commented on #243
cool, I'll make this change and send it out for your review. :) thanks @ttheodor

[2018-04-06 01:00] seongwook-ham commented on #247
thanks. when it will be possible to use min max?

[2018-04-07 01:34] jzbontar opened #271 "Autotuner aborts"
I have a similar issue to #207.

The autotuner sometimes (3 out of 5 times) aborts due to illegal memory access when running the following Python script:

[code]

The output when the autotuner breaks:

[code]

[2018-04-07 09:12] nicolasvasilache opened #272 "No space left on jenkins machines"
I see the following errors which prevent jenkins test from completing

https://ci.pytorch.org/jenkins/job/tensorcomp-builds/job/linux-trusty-gcc4.8-cuda8-cudnn7-py3-test/199/console

https://ci.pytorch.org/jenkins/job/tensorcomp-builds/job/linux-trusty-gcc4.8-cuda8-cudnn7-py3-conda-test/189/console

https://ci.pytorch.org/jenkins/job/tensorcomp-builds/job/linux-xenial-gcc5-cuda9-cudnn7-py3-conda-t

[2018-04-08 03:28] merrymercy commented on #271
I encountered the same error.

[code]
[WARNING]: Autotuning results won't be cached. 'cache' option is not set
Generation 0	Jobs(Compiled, GPU)/total  (50, 50)/50   (best/median/worst)us: 151/468/34689
Generation 1	Jobs(Compiled, GPU)/total  (41, 33)/50   (best/median/worst)us: 140/216/707WARNING: Logging before InitGoogleLogging() is written to STDERR
W0408 05:35:21.780427 25400 rtc.cc:199] Error

[2018-04-09 13:04] prigoyal commented on #272
thanks for reporting. The new dedicated gpu boxes have disk full and need to be cleaned up. We will do so soon and post update on this task.

[2018-04-09 13:29] prigoyal commented on #254
thanks @Junonia for the report. my guess is that the gpu might be held because of the kernel being very slow or the compilation being stuck.

tentatively passing to @ftynse to see if he has ideas or who might have ideas into what's going on here. please feel free to assign to me afterwards. :) thanks

[2018-04-09 13:32] prigoyal commented on #271
thanks @jzbontar and @merrymercy. We are aware of such an error but didn't have a stable repro of this issue before. May I kindly request if you can retry and see if the error still happens? if it does, can you provide me the repro (i.e. update the example if there are any changes)? :)

[2018-04-09 16:08] merrymercy commented on #271
After updating TC to the latest version, the error does not occur anymore.

[2018-04-09 16:09] ftynse commented on #271
Latest from where?

[2018-04-09 16:32] merrymercy commented on #271
built from https://github.com/facebookresearch/TensorComprehensions/commit/ef644ba7d638f3f8b028f52192101cf1f48b32b4

My script is more stable now. But I am not sure this issue is fixed.

[2018-04-09 16:36] ftynse commented on #271
I cannot reproduce an error with these options on 4229ac4e276a6c2b6a5f92bdf29b2d26c6d6ee3a.

[2018-04-09 16:51] ftynse commented on #271
I cannot reproduce an error with these options on 4229ac4e276a6c2b6a5f92bdf29b2d26c6d6ee3a.  Neither the reported options, nor the autotuner (from C++) with 25x100 options.

My machine was lax on memory errors before, so it is possible that I'm not seeing the problem.  @prigoyal and @nicolasvasilache have access to machines that were good at finding memory problems

[2018-04-09 16:55] ftynse commented on #254
Hmmm, I've seen python from dead pytorch sessions showing up in `nvidia-smi` even without TC.

@prigoyal does the call to a TC function block and wait for cuda kernel to complete?  The only guess I can have is that something returns early and the kernel keeps running.  In this code, `out` is never read so there is no guarantee that the computation indeed terminated.

[2018-04-09 17:56] prigoyal commented on #194
@salexspb the PR for things to do in this issue are out #279 and #284. Please feel free to review whenever you have time. Thanks :)

[2018-04-09 19:08] prigoyal commented on #207
@skimo-openhub , @ftynse , here is the PR with the C++ test https://github.com/facebookresearch/TensorComprehensions/pull/285 for the backwards layer.

[2018-04-09 23:09] amirsani commented on #241
Hi Priya,

Apologies for the delay. I've been away.

Here is the output for which python:
``/home/amir/anaconda3/envs/tc-env/bin/python``
and which ipython:
`` /home/amir/anaconda3/bin/ipython ``
and the ouput from running ipython:
``
Python 3.6.5 |Anaconda custom (64-bit)| (default, Mar 29 2018, 18:21:58)
Type 'copyright', 'credits' or 'license' for more information
IPython 6.3.1 -- An enhanced I

[2018-04-10 07:30] back2yes commented on #209
Tried that two weeks ago, but failed to build.

[2018-04-10 07:31] ftynse commented on #209
Failed how?  It is useful to have reports.

[2018-04-10 08:48] back2yes commented on #209
I failed to build the master-branch on my computer, here is the building error message.

https://gist.github.com/back2yes/598f5b4b7508937769152a041e79a6b6

[2018-04-10 19:15] seongwook-ham commented on #207
Generation 2	Jobs(Compiled, GPU)/total  (74, 54)/100   (best/median/worst)us: 23897/36399/109224*** Error in `python': free(): invalid next size (normal): 0x00007f9ccc716dd0 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f9dcd9e67e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x8037a)[0x7f9dcd9ef37a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7f9dcd9f353c]
/home/hswserverub

[2018-04-10 19:40] prigoyal opened #287 "Autotuner questions and feedback"
one of our users @jzbontar was using TC autotuner and had the following feedback/questions. I am creating this issue to get more eyes and thoughts from @ttheodor who's our autotuner master :)

1. When profiling a kernel, does the autotuner call it more than once (for example, to get an accurate measurement)? If yes, then consider making the number of times a kernel is called depend on the kernel’s

[2018-04-10 19:41] prigoyal commented on #287
hey @ttheodor, can you take a look and help answer a few things in this issue? :) thanks a lot for your help.

[2018-04-10 19:47] prigoyal commented on #241
thanks @amirsani , from the output of the `which ipython` it looks like your ipython is not the one in `tc-env` and hence it is failing to detect pytorch or tc installs.

can you conda install ipython in your `tc-env` conda env and try again?

Thanks a lot :)

[2018-04-10 19:48] prigoyal commented on #209
copy-pasting response from @skimo-openhub to the gist here for visibility

[code]

[2018-04-10 19:59] amirsani commented on #241
Hi Priya,

It worked!!!! Thank you!! Thank you!! Thank you!! :)))

For reference, here is what I got when running ipython:
``
Python 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 18:21:58)
Type 'copyright', 'credits' or 'license' for more information
IPython 6.3.1 -- An enhanced Interactive Python. Type '?' for help.

In [1]: import torch

In [2]: print(torch)
<module 'torch' from '/home/amir/anac

[2018-04-10 20:05] nicolasvasilache commented on #287
Hi @jzbontar, here are some answers:
1. for the purpose of the autotuner we currently run 3 warmup iterations and 10 benchmark iterations. We have a catastrophically bad threshold set to 100 to prune out the worst cases after the first run.
We have another early pruning check for versions that have too few threads (with --tuner_min_launch_total_threads) to avoid even that first run.
Worst cases wi

[2018-04-10 20:40] jzbontar commented on #287
Thanks @prigoyal for opening the issue and @nicolasvasilache for your answers.

3. I hope asking silly questions is okay here :) Are you running the genetic algorithm trials in a new thread or in a new process? If you run them in a new process, wouldn't that solve this problem, as only the newly created process would abort and the main process would continue running? Would that maybe break somethi

[2018-04-10 20:54] chichengumich opened #288 "Add argmin/argmax support to TC"
As discussed in Slack, support to argmin/argmax operations should be added in the future.

[2018-04-10 21:30] ftynse commented on #287
4. is a issue that caused long and painful discussions in python integration;  in some cases, aborting the tuning led to python shell being killed; @prigoyal should know this part very well :)

I still claim that running the entire autotuner in a separate process and killing off that process is a good idea.

[2018-04-10 21:37] ftynse commented on #271
@merrymercy  for convolutions, there was a reported problem in #179, fixed by #226.  Your post does not include the sizes, so I cannot say if the fix applies to you too.

[2018-04-10 21:38] ftynse commented on #271
@jzbontar could you please fill in the issue template with TC version, installation source, etc. ?

[2018-04-10 21:42] ftynse commented on #207
This was solved by #202 and follow-ups.  Should not appear anymore.

This was not and I could not reproduce it.  Potentially related to #179 / #226, although I could not reproduce the problem even without #226.  This is a fatal error because GPU memory corruption is very hard to recover from.

[2018-04-10 21:43] ftynse commented on #207
@seongwook-ham  would you mind opening new tickets for different issues?  It becomes increasingly hard to keep track of what the actual problem is here.

[2018-04-10 21:58] #247 closed

[2018-04-10 21:59] ftynse commented on #247
Now.

[2018-04-10 22:31] jzbontar commented on #271
- OS: Ubuntu 16.04.3 LTS
- How you installed TC (docker, conda, source): conda
- Python version: Python 3.6.5
- CUDA/cuDNN version: CUDA 8.0.61, cuDNNL: 7005
- Conda version (if using conda): 4.4.11

[2018-04-11 00:03] back2yes commented on #209
Thanks for your reply, here are the outputs.

[code]

[2018-04-11 01:46] seongwook-ham commented on #207
ok i'll

[2018-04-11 07:40] skimo-openhub commented on #207
On Tue, Apr 10, 2018 at 02:46:46PM -0700, ftynse wrote:

I ran into _some_ memory problem, but not this one.

skimo

[2018-04-11 08:27] merrymercy commented on #271
Now the this error occurs randomly..

[code]

[2018-04-11 08:32] ftynse commented on #271
@merrymercy  would you mind opening a new issue for every different observed error?

[2018-04-11 08:41] ftynse commented on #271
Even if you don't, the error you report is very unlikely related to the one reported here.  If we prove the contrary, we will merge duplicate issues ourselves.  Otherwise, irrelevant messages only confuse the discussion and slow down the problem solving.  Please open a new issue anyway, after which I will remove all the irrelevant comments from this issue.

[2018-04-11 08:42] ttheodor commented on #287
Yes, 3. and 4. can be (partially) solved by running the tuner in a separate process.

3. would be solved partially because the whole tuning session would be killed and not just the individual who caused the segfault, unless we run each individual in a separate process (but this might be a bit of an overkill).

[2018-04-11 08:48] kitewarrior4 opened #290 "The % operator does not seem to work"
Hello!
[code]
Gives the following error
`RuntimeError: expected a valid token but found %`

[2018-04-11 08:49] ftynse commented on #290
Indeed, `%` seems to be not parsed.

[2018-04-11 09:12] skimo-openhub commented on #209
On Wed, Apr 11, 2018 at 12:03:31AM +0000, back2yes wrote:

Hmm... this is

llvm::RTDyldMemoryManager::getPointerToNamedFunction(std::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, bool)

rather than

llvm::RTDyldMemoryManager::getPointerToNamedFunction(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, bool)

Probably related to
https

[2018-04-11 09:20] merrymercy opened #292 "Autotuner aborts when tuning conv2d"
- OS: Ubuntu 16.04
- How you installed TC (docker, conda, source): source
- Python version: 3.5
- CUDA/cuDNN version: 9.1 / 7.1.2
- GCC/GXX version (if compiling from source): 5.4
- LLVM/Tapir git hash used (if compiling from source):
clang version 5.0.0
Target: x86_64-unknown-linux-gnu
Thread model: posix
InstalledDir: /home/mercy/clang+llvm-tapir5.0/bin
- Commit hash of our repo and submodules (

[2018-04-11 12:18] back2yes commented on #209
@skimo-openhub Hi, according to the tutorial, I guess that I have used the llvm from the conda channel, while Halide should have been built from source. My gcc version is 5.4, comes with default Ubuntu release. I will try building LLVM also from source, to ensure that gcc versions are in coherence.

Thank you for your help.

[2018-04-11 13:18] prigoyal commented on #241
great to hear @amirsani . I'll close out this issue then. Please feel free to reach out to us for any future questions :)

[2018-04-11 13:18] #241 closed

[2018-04-11 14:26] ftynse opened #294 "MappingOptions C++ output broken after splitting off Cuda part"
Originally, `MappingOptions` could be printed as compilable C++ code, which we used in tests.  After splitting off `CudaMappingOptions`, the output looks like this

[code]

In particular, in constructions `MappingOptions` rather than `CudaMappnigOptions`, and has some dangling calls starting from `.mapToThreads` (note the semicolon after `matchLibraryCalls`).

[2018-04-11 14:34] ftynse commented on #292
Invalid PTX may mean we request more shared memory than available due to reductions.  An equivalent C++ test completes fine on my machine (P6000).

@prigoyal is there a way to dump the cuda from python interface?

[2018-04-11 14:39] ftynse commented on #292
If somebody can run `./build/test/cuda/test_tc_mapper_bugs --gtest_filter=Convolution2D.InvalidPtx` on 582692d7b021a6a8c5ef755df7d25d5d6786d022 and confirm there is indeed an error, that would help.

[2018-04-11 14:41] ttheodor commented on #292
[code]

[2018-04-11 15:01] ftynse commented on #292
I got a different one with the autotuner, though.

[2018-04-11 15:32] #243 closed

[2018-04-11 15:41] prigoyal commented on #292
@ftynse , yes there is a way to dump cuda from python interface. See this example https://github.com/facebookresearch/TensorComprehensions/blob/master/test_python/test_debug_init.py#L22

[2018-04-11 15:51] prigoyal commented on #194
both PRs #279 and #284 have been merged now. Please feel free to create new issues around new improvements we should make. Closing out this one as the goals of this task are now finished. :)

[2018-04-11 15:51] #194 closed

[2018-04-11 18:41] ftynse commented on #292
Indeed, the problem is only manifest _during the autotuning_, and only on some runs.  I had to run 6 independent turns of 25x100 iterations to reproduce it.  However, taking the offending options reported by the autotuner and putting them in a separate test _works fine_.

I may suspect:
- offending options are reported incorrectly;
- problems with allocation/reusing the same tensor;
- concurrency

[2018-04-11 21:08] ftynse commented on #292
Pushed d506fed756cff67bbafd72052423adbc1dc9033c with the autotuner call on the same test. Everybody's welcome to try and get a stable repro.

[2018-04-12 07:05] qzhong0605 opened #296 "[build]TC compile error from source code"
- OS: CentOS-7.3.1611
- How you installed TC (docker, conda, source): source
- Python version: 2.7.5
- CUDA/cuDNN version: cudnn-6.0.21
- GCC/GXX version (if compiling from source): gcc-4.8.5(g++-4.8.5)
- LLVM/Tapir git hash used (if compiling from source):  clang(2637f015d66418964aa0225534c004dd71a174b8) LLVM(5c2fdbbfc263e76384b49a7183b12a6b7132873d)

- Commit hash of our repo and submodules (if

[2018-04-12 08:55] qzhong0605 commented on #296
I'm sorry. I forgot a `$` sign in the PATH environment variable.

So the followings are the output of the command `llvm-config --has-rtti` and `llvm-config --cxxflags`:

For command `llvm-config --has-rtti`:

       YES
For command `llvm-config --cxxflags`:

-I$LLVM_PREFIX/include  -fPIC -fvisibility-inlines-hidden -std=c++1y -Wall -W -Wno-unused-parameter -Wwrite-strings -Wcast-qual -Wno-missing-

[2018-04-12 11:32] ftynse commented on #292
I may have identified the problem for the `INVALID_HANDLE` crash part, but not the source of the problem for `INVALID_PTX` and memory corruptions that were also observed.

In `CudaRTCFunction::Launch`, we first add (empty) module to the per-GPU list of modules, and only then try to load it from PTX.  The load part may fail and throw, the module in the list remaining empty.  When the `CudaRTCFuncti

[2018-04-12 11:37] ftynse commented on #292
#299 should remove the `INVALID_HANDLE` part and let the autotuning continue.

I still don't have a reproduction for the invalid PTX issue, but that may be platform-specific.

[2018-04-12 12:11] qzhong0605 commented on #296
I had worked around the problem. The reason is that the `halide` is compiled with `no-rtti`, with lossing `typeinfo` . I recompile `halide` with 'rtti' and build `TC` successfully

[2018-04-12 13:00] ftynse commented on #292
#299 indeed prevents the crash on "invalid PTX" error.  The error will be reported, but the tuning will continue after discarding the options that caused the error.  Merging that PR will close this issue.

In the meantime, I have a stable reproducer of "invalid PTX".  As I expected, it is indeed caused by requiring too much shared memory, so the reproducibility depends on the GPU model in use.  I

[2018-04-12 13:13] ftynse opened #300 "Properly evaluate the scratchpad size necessary for CUB reductions"
For parallel reductions, CUB requires a block of shared memory, which is wrapped under an opaque object.  Shared memory promotion mechanism needs to know the amount of available shared memory.  Currently, we bluntly subtract 4096 bytes from the amount of shared memory on GPU for each reduction we use.  Some reductions apparently require more space than that, which leads to our kernels requiring mo

[2018-04-12 13:14] ftynse commented on #292
#300 for the new reductions issue

[2018-04-12 13:25] #292 closed

[2018-04-12 13:29] prigoyal commented on #296
@qzhong0605 , please feel free to close the issue if the build is working now. Thanks :)

[2018-04-12 14:37] nicolasvasilache commented on #300
cc vinodgro

[2018-04-12 15:05] #296 closed

[2018-04-13 11:25] ttheodor commented on #232
I have never observed this. I'll try to bump up the number of parallel tasks to see if this pops up.

[2018-04-13 15:45] lberrada opened #305 "ML layers database"
Hi, I've noticed some examples that look incorrect to me in the ML layers database (both in the documentation and in the [tests](https://github.com/facebookresearch/TensorComprehensions/tree/master/test_python/layers)).
* Batch-normalization (issues: it is using running statistics to compute the output, and the running variance uses `rsqrt`). Suggestion of fix (result tested against pytorch):
[cod

[2018-04-13 18:47] warmspringwinds opened #306 "Indexing error"
Hi guys -- thank you for the amazing project!

I have faced a small problem while trying to implement a perforated convolution layer -- basically just running convolution in the specified positions:
[code]

This gave me this error:
[code]

I was able to debug it and find a minimal example with indexing that gives me the same errror:
[code]

Do you know if there is a workaround for this?

[2018-04-13 19:17] nicolasvasilache opened #307 "[RFC] C++ API refactor towards true backend-agnostic TC: master task"
Now that the .cc and .h have been merged in the same repositories, I started a bigger effort to refactor and break the cuda dependency end-to-end. Let's use this task to keep track of the proposed APIs.
I'm adding a larger audience in case people are interested to chime in.

The list of issues is:
- [x] Tensor API #313 (impl in #361)
- [x] High-level compilation API #322 (impl in #359)
- [x] TcExe

[2018-04-13 19:43] nicolasvasilache opened #308 "[RFC] Proposed ExecutionEngine API"
The proposed changes to the API involve the following main things:
1. an explicit ```Backend``` type which keeps track of the **concrete** ```Executor```, ```MappingOptions```, ```Protobuf```, ```Cache``` and ```RTCFunction``` types. By making types dependent it becomes significantly easier to write a type-safe, backend-agnostic JIT compiler and factor out the common behaviors across the ```Autotu

[2018-04-13 20:03] prigoyal commented on #305
Hi @lberrada , these sound great. Please feel free to send a PR :) your contribution is warmly welcomed.

[2018-04-13 20:04] prigoyal commented on #306
thanks @warmspringwinds for the report. I believe we hit this similar error some time ago as well but in different context. @skimo-openhub , do you have ideas on how to dig into this? assigning to @skimo-openhub tentatively to provide some guidance :)

[2018-04-13 21:03] ftynse commented on #306
Please fill in the issue template, in particular how TC was installed and which versions are used.

@prigoyal this does not look like _isl_ problem, but rather how TC _uses_ isl.

[2018-04-13 21:10] ftynse commented on #306
I will speculate that this is a similar issue to #124 and may have been already fixed by #127

[2018-04-13 21:14] warmspringwinds commented on #306
@ftynse sure here it goes:

Tensor Comprehensions Github Issues Guidelines
----------------------------------------------

If you have a feature request or a bug report (build issue), please open an issue on Github and fill the template below so we can help you better and faster. If you have some general
questions about Tensor Comprehensions, please visit our [slack channel](https://tensorcomprehe

[2018-04-13 21:17] ftynse commented on #306
If it does not bother you too much. Thanks.

[2018-04-13 21:24] ftynse commented on #308
Actually, most comments seem to come from the existing version and no longer correspond to the API.  Just removing them could be simpler :)

[2018-04-13 21:28] warmspringwinds commented on #306
@ftynse

Sure -- will do although it might take a while so don't expect a swift response.

But here is a minimum example which throws the above-mentioned error for my current setup and which can be tested against the most recent build:

[code]

[2018-04-13 21:34] ftynse commented on #306
Neither myself nor @skimo-openhub run python, TC is essentially a C++ library, so reproducing your case in C++ will also take time.

[2018-04-13 21:38] warmspringwinds commented on #306
@ftynse I can write it out using ATen if that helps

but yeah -- I'd better compile it myself I guess

[2018-04-14 13:08] lberrada commented on #305
Ok thanks. I can include tests for most ML layers so that their output is compared against the pytorch implementation. Would that be something wanted?

[2018-04-16 13:24] prigoyal commented on #305
@lberrada , yes, that will be awesome. Please feel free to send PR. > 95% TC users are using it via python so it will be a great service and contribution to the community. Thanks. :)

[2018-04-16 13:30] ftynse commented on #305
@prigoyal as long as you are going to convert those into C++, #74 is still open even though you deprioritized it.

[2018-04-17 14:41] prigoyal opened #319 "Fix the SpatialBatchNorm C++ test to work with latest ATen"
PR https://github.com/facebookresearch/TensorComprehensions/pull/183 disables SpatialBatchNorm test. It has various issues:
1. dimension mismatching for weight
2. output doesn't match in the specific reference check

this is related to changes in ATen API.

[2018-04-20 01:33] bartvm opened #328 "ATen submodule points to non-existing commit"
Running `git clone https://github.com/facebookresearch/TensorComprehensions.git --recursive` gives
[code]
and `git submodule update --init --recursive` gives
[code]
It looks like the current submodule points to https://github.com/zdevito/aten/tree/f234e94aedffdbd9a47092ac36ea1784da8bc50a, but that commit has disappeared (rewrite/force push?). It seems like it was replaced with https://github.com/z

[2018-04-20 08:30] skimo-openhub commented on #328
On Fri, Apr 20, 2018 at 01:33:33AM +0000, Bart van Merriënboer wrote:

I have no idea what happened.
It seems to have been completely rewritten!
I created #329, but caffe2 may have to undergo the same treatment.
I also happened to pick 92b2e07fff0b7744a4185597ab3c07e27b5a275f
instead of 13d8a3f2d43ccd7d274b66b5f68372ccbd16de17.
I have no idea what the difference is between them.

skimo

[2018-04-20 15:09] prigoyal commented on #328
Hi @bartvm and @skimo-openhub  , thanks for the report. This is a known problem. I am working on fixing this actively today.

[2018-04-20 15:17] skimo-openhub commented on #328
On Fri, Apr 20, 2018 at 03:09:40PM +0000, Priya Goyal wrote:

Nicolas already merged #329, but you can still do it properly
on top of that.

skimo

[2018-04-22 06:57] gautamkmr commented on #328
Due to this, I am unable to clone the caffe2 repo
https://github.com/pytorch/pytorch/issues/6776

[2018-04-22 08:12] skimo-openhub commented on #328
On Sat, Apr 21, 2018 at 11:57:56PM -0700, Gautam Kumar wrote:

Which one?  We temporarily switched to a different one until
the ATen issue in Caffe2 is solved.
Please open a different issue, because this one has been solved.

skimo

[2018-04-22 08:13] skimo-openhub commented on #328
Closed by #329.

[2018-04-22 08:13] #328 closed

[2018-04-22 17:09] gautamkmr commented on #328
How do I currently clone caffe2 repo?

[2018-04-22 20:51] ftynse commented on #328
I guess you can ask caffe2 developers about that.  The [official page](https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile) provides some information.

[2018-04-22 22:51] bhavinthaker opened #330 "pytorch/conda/caffe2/full/meta.yaml shows version 0.8.dev instead of 0.8.2.dev"
The file pytorch/conda/caffe2/full/meta.yaml shows version 0.8.dev
due to which $ conda install -c caffe2 caffe2-cuda9.0-cudnn7
shows version as:
$ conda list caffe2
# packages in environment at /home/ubuntu/anaconda3/envs/caffe2_p27:
#
# Name                    Version                   Build  Channel
caffe2-cuda9.0-cudnn7     0.8.dev          py27h9f006da_0    caffe2

Shouldn't the version in me

[2018-04-22 22:54] ftynse commented on #330
Please ask caffe2-related questions on the caffe2 project page.  (Hint: this one is not caffe2).

[2018-04-24 02:36] #155 closed

[2018-04-24 08:06] skimo-openhub opened #334 "switch to pytorch aten breaks WITH_CUDA=0 build"
Since c8a44248d980a8d7c88b929024f795409e3d3020, TC no longer builds with
`WITH_CUDA=0`.
This is the error message I get:

[code]

TC builds fine without `WITH_CUDA=0` and it used to build fine with `WITH_CUDA=0`
before that commit.

[2018-04-24 09:00] ftynse commented on #334
Apparently, Aten still looks for Cudnn even if Cuda is disabled.  I get this in the output

[code]

and `CUDNN_FOUND`is set to `TRUE`.

[2018-04-24 09:02] ftynse commented on #334
This fixed the problem for me

[code]

@prigoyal @zdevito should I send this patch to ATen?

[2018-04-24 09:13] skimo-openhub commented on #334
On Tue, Apr 24, 2018 at 02:02:29AM -0700, ftynse wrote:

Thanks.  This seems to work for me too.

skimo

[2018-04-24 13:04] prigoyal commented on #334
please feel free to send it to pytorch repo.

[2018-04-24 16:40] ftynse opened #338 "temporarily remove GPU CI results from PRs"
It has been some time since GPU CI does not actually run tests.  As a result, we cannot easily differentiate the PRs that are failing both CPU and GPU and those only failing GPU.  It also makes the PR history on Github look bad.

Could we prevent failing GPU CI reports from showing up in the PRs?  It may be switched back once it is operational again.

[2018-04-24 16:51] ftynse commented on #334
https://github.com/pytorch/pytorch/pull/6905

[2018-04-24 20:43] #130 closed

[2018-04-25 12:31] prigoyal commented on #338
thanks for opening up the issue. We are actively working on resolving this and currently configuring dedicated gpu machines for TC. Jenkins CI has also been unstable these days which is adding to the delay.

There is no good way per-se to disable the CI at the same time trying to debug it. Please use CircleCI tests only for the moment for PRs. I will update this issue once the CI is functional. Th

[2018-04-25 13:13] prigoyal commented on #334
PR is merged.

[2018-04-25 13:14] ftynse commented on #334
I think we need to bump ATen in TC before closing this.

[2018-04-25 17:06] nicolasvasilache commented on #307
cc @mingzhe09088 @mitmul

[2018-04-25 17:14] prigoyal commented on #131
@skimo-openhub , is it possible to propagate the bitwise operations to isl atm? if not, what would it involve? can you provide some guidance on it?

[2018-04-25 18:49] ftynse commented on #131
I'd say isl should handle this transparently as long as bitwise operations don't appear in *index expressions*.  In this example they do not, so the first task would be adding those operations to lexer/parser/sema and tc2halide conversion.

[2018-04-25 18:50] ftynse commented on #294
Closed via #340

[2018-04-25 18:50] #294 closed

[2018-04-25 18:54] keightyfive opened #347 "Examples And Performance Results"
Hi,

I want to run the kernels and production models from the paper (https://arxiv.org/pdf/1802.04730.pdf), but can't find the repo on Github.
Do you have the implementations along with corresponding test data and .sh scripts available anywhere?

Cheers
Kevin

[2018-04-25 19:01] ftynse commented on #347
Well, you have found it.

As the paper indicates, those results were based on a preliminary version of TC.  The released version has many different components and may perform better (or sometimes worse) on various benchmarks.

Please take a look at `./test`, `./tc/examples` and `./tc/benchmarks` in the current tree.

[2018-04-25 19:16] keightyfive commented on #347
Okay thanks, bit of a blind deer today.
I saw ./test but thought it was more for testing mapping or more general stuff...

[2018-04-25 20:06] nicolasvasilache commented on #347
@keightyfive test is just unit tests indeed.
For the paper you want to look at ```./tc/benchmarks```.

If you want to run the whole tuner, in ```./tc/benchmarks/scripts``` you'll find scripts that run on an HPC style environment with slurm.
However they may not have been updated following the tree structure change.

But it should be the matter of just doing a sed, contributions most welcome ;)

Al

[2018-04-25 20:07] prigoyal commented on #131
cool, I'll do that first @ftynse , thanks much for the guidance.

[2018-04-25 21:01] ftynse commented on #131
If you can also handle the `%` operator (#290) on the way, it would be amazing!

[2018-04-25 21:10] nicolasvasilache opened #351 "Implement CHECK macros as exceptions"
At the moment we have too many places where we call one of the glog CHECK macros and terminate when it fails.
Let's implement our own CHECK macros and recover when it makes sense.
@salexspb @Yangqing I know C2 has its way of dealing with this, could you offer some guidance on what would make the most sense wrt FB infra?

Assigning to @ttheodor since we discussed about this last month.

[2018-04-25 21:15] nicolasvasilache commented on #351
Related to [this](https://github.com/facebookresearch/TensorComprehensions/pull/327#discussion_r184203685).

[2018-04-25 21:33] nicolasvasilache opened #352 "Less strict TC + JIT requirements"
Currently TC requires to compile a new fully-specialized version for each new tensor size.

#327 has some context about usage in the C2 case:

After #307 we could relax JIT requirements by:
- [ ] making Halide + LLVM can compile a check function for you that we can run always and drop uncheckedRun once and for all. But first let's actually benchmark it.
- [ ] implement an OptionsCacheKey -> TcExec

[2018-04-25 21:48] ftynse commented on #352
Hmm, would it make sense, in the autotuner, to know that some options (tile/block sizes in particular) are produced as a fraction of the problem size?  And then adapt them to the new problem size.  I think we had an example where we mapped to 27 threads because the relevant size was 27, it would be sad to map size 28 to blocks of 27 threads and have twice as many warps as would be sufficient.

[2018-04-25 21:53] ftynse commented on #351
Related to #193

[2018-04-25 21:55] nicolasvasilache commented on #352
@ftynse yup, forgot that in my list :) I would put it in sparse region + NN search + JIT with adaptation. Unless you see a full independent task for it?

[2018-04-25 21:59] ftynse commented on #334
there seems to be another bug in cmake `list sub-command REMOVE_ITEM requires two or more arguments.` if I bump it :/

[2018-04-25 22:10] prigoyal commented on #347
Hi @keightyfive , the benchmark scripts in `./tc/benchmarks/scripts` should also work without requiring any changes. Let us know if this addresses your question and if the issue can be closed. Thanks.

[2018-04-25 22:13] prigoyal commented on #334
what commit hash did you try for ATen? I can take a look and try to help :)

[2018-04-25 22:15] ftynse commented on #334
`e7babb1890b1658886835ff4627d8b00aa84bae1`

this should do the trick

[code]

[2018-04-25 22:47] keightyfive commented on #347
I'll try setting things up and will try running some of the kernels on a cluster with slurm this week. You can close the thread for now, but I'm sure I'll be back soon :-)

[2018-04-26 09:59] #347 closed

[2018-04-26 14:02] nicolasvasilache opened #356 "Less hardcoded parameter filtering in tuning"
The current [implementation](https://github.com/facebookresearch/TensorComprehensions/blob/master/tc/autotuner/parameters.cc#L333) is not portable, let's use device queried information to filter.

Also make it backends-specific and split ```parameters.cc```, not in #307 though.

[2018-04-26 14:06] nicolasvasilache opened #357 "Examine constraints on tuning ranges"
#354 exhibits potential issues with size selections
Revisit after #307 and tinker with the tuner.

[2018-04-30 13:12] skimo-openhub commented on #338
GPU CIs appear to be working again.

[2018-04-30 14:33] nicolasvasilache opened #377 "Pass output tensor informations to compile function"
Atm we only pass TC, input tensors and options.

[2018-05-01 17:45] seongwook-ham opened #381 "autotuning convenience improvment request"
in some case, i don't know why this happens but autotuning never finished.
autotuner is freeze with "100/100" and job is unfinshing.
in that case i try to use ctrl+c but it does not works.
so i have to kill process and re run the autotuning script.
it is very time consuming.
so is it possible to pose time limit for each generation, and when time is due, goes to next generation? or is there more ef

[2018-05-02 13:35] prigoyal commented on #381
thanks @seongwook-ham for the report. Can you provide us a repro? It also depends on what operation you are running and sometimes compilation takes a lot of time that makes things almost hanging. We can look further into it if you can give an example of operation. Thanks :)

[2018-05-02 13:50] ftynse commented on #381
That counter shows the number of compilation/execution jobs _started_ rather than completed.  One or multiple jobs are probably taking a lot of time.  While compilation can be killed, there is no way to kill execution as CUDA kernels are not preemptable (neither can we kill the thread that controls it without killing everything else).

This is due to the interaction between python shell and TC.  C

[2018-05-03 10:06] ttheodor commented on #381
Maybe the following would work:
Run each generation on a separate process and on a time-out kill the process. There are IPC facilities in CUDA that let mapping gpu memory from one process to another (to avoid copying/regenerating inputs/outputs). However, I have no idea in what state the gpu is left after killing one of the host processes that are using it.

[2018-05-04 02:37] warmspringwinds commented on #306
Thanks guys!

[2018-05-04 09:06] pranerd commented on #126
@prigoyal  did tensor comprehensions didn't support python2.7? I install it with anaconda2 environment, after that, try to import tensor_comprehensions, but it didn't work.

[2018-05-04 09:12] pranerd opened #393 "Did tensorComprehensions support python2.7?"
My python version is 2.7, after the command conda install -y -c pytorch -c tensorcomp tensor_comprehensions, all packages are installed. But import tensor_comprehensions didn't work. Is it the reason of python version？

[2018-05-04 15:40] fftobiwan opened #394 "Timeout parameter for autotuner"
Thanks for your great library. I just started to play around with TC.

I experience that some of the initial jobs created by the autotuner in generation 0 run for a very, very long time (3-4 orders of magnitude slower than the fastest of the initial jobs). It would be nice to pass a timeout parameter after which jobs are automatically aborted.

[2018-05-04 15:41] nicolasvasilache opened #395 "Cleanup test_compilation_cache.cc if needed"
After #379 lands, could you please address these remaining questions / remarks opened by @skimo-openhub ?

[1](https://github.com/facebookresearch/TensorComprehensions/pull/379#discussion_r186075903)
[2](https://github.com/facebookresearch/TensorComprehensions/pull/379#discussion_r186077785)

I'm thinking the whole test is due for a simplification pass, but I'll let you decide.

[2018-05-04 15:46] ftynse commented on #394
potential duplicate of #381

[2018-05-04 15:51] skimo-openhub opened #396 "Codegen::makeLoopIterators should avoid name clashes"
Codegen::makeLoopIterators generates names for loop iterators, but they may clash
with size parameter or tensor names.

[2018-05-04 16:30] nicolasvasilache opened #397 "Investigate why test_corner_case.cc does not fail"
This test looks wrong to me: the inferred output is 1-D but it passes with a 2-D output
Investigate and address:

[code]

[2018-05-04 16:46] nicolasvasilache commented on #397
it's related to the impl in the old API; the new API catches this properly as an error so I fixed the test in #379

[2018-05-04 17:10] nicolasvasilache commented on #397
Actually let's add a negative case that fails once the new API has landed.

[2018-05-04 17:13] nicolasvasilache opened #398 "Reduce boilerplate in OptionsCache::recordRuntime"
@skimo says:

There's several things you could do to reduce boilerplate.
You could have a wrapper that performs
the `makeTensorInfoVector(extractRawPtrs())`.
You could let recordRuntime perform the canonicalization,
introducing a special recordCanonicalRuntime for the single
case in the code base where the caller does not want/need
to perform canonicalization.
You could have a recordCUDARuntime wr

[2018-05-04 20:38] #307 closed

[2018-05-05 09:43] pranerd commented on #393
Thank you, I think it is the reason of python version.

[2018-05-05 09:43] #393 closed

[2018-05-07 19:06] keightyfive opened #407 "[Build] issues finding Cuda, incomplete config"
Hi,

I want to build TC from source on a cluster (https://www.macs.hw.ac.uk/~hv15/robotarium/about) and run some of the benchmarks, here's the information regarding my working environment:
- OS: Scientific Linux release 7.4 (Nitrogen), Linux robotarium 3.10.0-693.5.2.el7.x86_64
- Building from Source in Non-Conda Env (https://facebookresearch.github.io/TensorComprehensions/installation_non_conda.h

[2018-05-08 20:57] prigoyal commented on #56
# Design: Support for Nested Function calls in TC

**WIP**: thoughts, comments welcome

Let's say we have two layers: fully connected and relu layer that we would like to fuse together. We express the fully connected layer and Relu layer in TC as below:

[code]

Currently, we write fused Fully connected - relu layer as below:

[code]

This means that TC is write-only language i.e. we have to expli

[2018-05-08 21:00] skimo-openhub commented on #56
On Tue, May 08, 2018 at 08:57:07PM +0000, Priya Goyal wrote:

This looks as if `fully_connected` is performing a _scalar_ operation.
I would expect a call like `O = fully_connected(I, W1, B1)`
for the `fully_connected` defined above.

skimo

[2018-05-08 21:28] ftynse commented on #56
This is a very useful feature indeed.  A couple of comments.

We have a different definition of write-only, so let's not abuse the term :)  TC does not supports _reuse_ of functions natively (favoring code copy-pasting), but it is designed to be _readable_, which is the opposite of write-only for me.

I'd need to see example of that style.  We don't want TC to end up as yet another framework.

We

[2018-05-09 21:07] skimo-openhub commented on #407
On Mon, May 07, 2018 at 07:06:24PM +0000, Kevin Klein wrote:

This looks like an issue in the pytorch submodule.
See if you can reproduce by compiling pytorch on its own and
then report it there.

skimo

[2018-05-09 22:39] keightyfive commented on #407
When running make in the corresponding directory, no errors were thrown.

[2018-05-10 03:16] QiJune opened #416 "What's the input dimensions of relu operator?"
The relu example is following:
https://github.com/facebookresearch/TensorComprehensions/blob/9cc088fe034142199fd63717a2d59b15394b38c4/test_python/layers/test_relu.py#L25-L33

In this example, the input dimensions of relu is defined as 2. In fact, the input of relu can be any dimensions, like NCHW, a four dimensions Tensor. So a tensor reshape(or view) has to be done before. Otherwise it will cause

[2018-05-10 04:01] nicolasvasilache commented on #416
@QiJune how about the following :) ?
[code]

In general many of the reshape / broadcast semantics and concat operations that people introduce in their layers are very artificial and come from the fact that one needs to map to an underlying library with far from ideal semantics.

I would claim with TC you should not worry about those most of the time. There are of course exceptions but relu seem si

[2018-05-10 04:49] nicolasvasilache commented on #56
@ftynse

We should be fine with just implementing temporary support with custom allocator and then have a function that parses and queries the temporary size. We can then allocate scratch space (with the delegated allocator that won't call cudaMalloc) and put temporaries in there. I think @zdevito made this point a few months ago. But we will prob. also need to support things like:
[code]
and have

[2018-05-10 05:36] QiJune commented on #416
@nicolasvasilache
In this example:
[code]
If my input is a four dimensions Tensor, it seems that I can not use this relu function directly.
If I want to implement a VGG16 neural network with TC, then, I have to write all the TC operations myself?

Another question:
Maybe in network A, the input of relu is a two dimension Tensor; in network B, the input of relu is a four dimension Tensor. What shou

[2018-05-11 19:07] keightyfive commented on #347
Hi,
so I had to slightly modify the autotuner_parallel.sh script, I still have a few questions:

1. Does the script work in srun mode as well?
2. What exactly does the script do? Does it tune the mapping for all the benchmarks and then runs all of these 1000 times as described in the paper?
3. Is there a way to run the kernels individually?
4. I installed TC using the conda package with pytorch in

[2018-05-11 19:13] keightyfive opened #419 "related to #347 - Examples And Performance Results"
Hi,
so I had to slightly modify the autotuner_parallel.sh script, and I still have a few questions:

1. Does the script work in srun mode as well?
2. What exactly does the script do? Does it tune the mapping for all the benchmarks and then runs all of these 1000 times as described in the paper?
3. Is there a way to run the kernels individually?
4. I installed TC using the conda package with pytorc

[2018-05-14 08:50] hutuxianren opened #425 "can we build TC without ATen"
thanks

[2018-05-16 03:46] #398 closed

[2018-05-18 16:20] keightyfive commented on #419
Has this site gone dead already??

[2018-05-19 17:45] nicolasvasilache commented on #425
Hi @hutuxianren  the core TC library builds and runs without ATen.

Our current tests and benchmarks can use either ATen, Caffe2 blobs or both.
Integrating new libraries is relatively easy, one needs to port the equivalent of tc/aten/* to tc/my_lib/*
What library did you have in mind?

[2018-05-19 18:06] nicolasvasilache commented on #419
During conference submission crunch time, yes unfortunately :) but we're now back

Reg. benchmarking, we have been making progress in #423 during this week, best is to wait until we land it early next week. I had to resort to some build hacks following the caffe2 source of truth moving to pytorch that I will need to clean up.

Reg. your previous questions:

I have only run myself in sbatch mode, i

[2018-05-19 18:17] nicolasvasilache commented on #416
No, you cannot, you would implement a 4-D version of this strawman function.

TC is meant to be used as a CUDA kernel generator, not for writing networks at this stage.
For VGG16 I would use a framework with CuDNN integration, benchmark and if I saw poor performance on certain kernels I would try TC on them. Note that TC is not meant to be used to optimize large matrix multiplications and convolut

[2018-05-20 15:33] intelaravind opened #430 "Cant build TC from source"
Hi,

I am trying build TC from source. I am following these instructions.
https://facebookresearch.github.io/TensorComprehensions/installation_non_conda.html?highlight=install
and I get the following errors

[code]

**Environment and version details**

- ISL commit id 72af18e09781646a649b1b5aec9c593f24c78996 (https://github.com/nicolasvasilache/isl.git)
- TC commit id 6b319f5672ddc40a66a5d5d2e0481

[2018-05-21 04:11] QiJune commented on #416
@nicolasvasilache Thanks! That's quite useful!

[2018-05-21 04:11] #416 closed

[2018-05-21 17:45] intelaravind commented on #430
Below is the command and the ouput with -H

`/usr/bin/gcc-5  -I/home/aravind/scratch/tc/TensorComprehensions/third-party/islpp -I/home/aravind/scratch/tc/TensorComprehensions/third-party/islpp/build -I/home/aravind/anaconda3/include -I/home/aravind/scratch/tc/TensorComprehensions/third-party/islpp/build/include -I/home/aravind/scratch/tc/TensorComprehensions/third-party/islpp/include  -H   -o CMak

[2018-05-22 08:02] skimo-openhub commented on #430
On Mon, May 21, 2018 at 10:45:16AM -0700, ASR wrote:

Does this one come from GMP_INCLUDE_DIRS?

Try

diff --git a/CMakeLists.txt b/CMakeLists.txt
index 25e87a47e9..de434d2238 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -368,7 +368,7 @@ macro (add_isl_executable _name)
   set(_sources ${ARGN})
   add_executable("${_name}" ${_sources})
   set_target_properties("${_name}" PROPERTIES FOLDER "

[2018-05-22 17:10] intelaravind commented on #430
yes /home/aravind/anaconda3/include came from GMP_INCLUDE_DIRS

I applied the above patch and its working now.

Thanks

[2018-05-22 17:10] #430 closed

[2018-05-22 21:16] donovanr opened #439 "PyTorch 0.4 compatibility"
I installed TC into my docker image with

`conda install -y -c tensorcomp tensor_comprehensions`

and my version of PyTorch was downgraded from 0.4 to 0.3.1.

Is there a way to avoid this?

My install info:
- OS: ubuntu 16.04 (docker)
- How you installed TC: conda
- Python version: 3.6.4
- CUDA/cuDNN version: CUDA 9.0.176 / cuDNN 7.1
- Conda version: 4.5.4

[2018-05-23 12:46] skimo-openhub commented on #334
Original problem fixed by #440 because it ends up updating pytorch.
@ftynse, please open a separate issue for your other problem.

[2018-05-23 12:46] #334 closed

[2018-05-23 12:50] ftynse commented on #334
does not seem to be a problem for me anymore

[2018-05-24 06:15] seongwook-ham commented on #439
if you want to use pytorch 0.4, you should build tc from source.
see https://github.com/facebookresearch/TensorComprehensions/blob/master/docs/source/installation_docker_image.rst

[2018-05-24 16:47] donovanr commented on #439
I tried building from source, and I get an error. I get slightly different errors depending on which version of the llvm toolchain I install, but they all have to do with disabled exceptions.  I’m building inside a docker container (ubuntu 16.04); other perhaps relevant info: Python 3.6.4, CUDA 9.0.176 / cuDNN 7.1.

[code]

[2018-05-24 18:09] pclucas14 opened #446 "Indexing a tensor with a tensor on LHS of equation"
Hello,

I'm getting an error when trying to do the following
`points_bw(b, indices(b, n, k), y) -=  ... `

is this type of indexing not supported in the Tensor Comprehensions framework ?

Thanks,
Lucas

[2018-05-24 18:48] ftynse commented on #446
Support for that is in progress (#262 #9).  There will be restrictions on what `indices` contain though, in particular, the same expression should not be writing twice in the same element (i.e. all values of `indices(b, n, k)` must be unique.

[2018-05-24 19:11] pclucas14 commented on #446
I see, thanks for the quick answer!

[2018-05-24 20:51] ftynse commented on #439
Your compile invocation contains `-fno-exceptions`  (along with `-DWITH_EXCEPTIONS`), so Halide submodule cannot be built.  This is likely due to using an incompatible version of LLVM.  Halide takes compilation flags from `llvm-config`.  Most distributions ship LLVM built without exception support, which leads to this problem. Please follow these instructions to build LLVM with exception support h

[2018-05-24 20:54] ftynse commented on #446
I'll close this issue in favor of the two earlier ones.  Please subscribe to those if you want to get an update on when the support is added.

[2018-05-24 20:54] #446 closed

[2018-05-25 14:15] nicolasvasilache commented on #439
@donovanr @seongwook-ham @ftynse I am redoing our build system from scratch which should significantly improve things (and solve your issues as a byproduct).
I'll push an experimental branch later today so you can try.

The catch is that I will be out until next Wed after that so hopefully it'll be usable enough or modifiable enough to get you unblocked.

[2018-05-25 16:15] donovanr commented on #439
Thanks, those instructions pretty much worked.  In case it’s useful to anyone else, I also had to install `libxml2-dev` and create a soft link from `/clang+llvm-tapir5.0/bin/llvm-config` to `/usr/local/bin/llvm-config` to get things to compile.

[2018-05-25 16:18] donovanr commented on #439
@nicolasvasilache sorry, didn't see that before I commented -- that's great! let me know if you have something I can try out.  I'd also be interested in knowing if there's some compilation detritus I can get rid of after the fact so that my docker image isn't quite so huge.

[2018-05-26 12:14] ftynse commented on #439
It's weird that there is no prefix before `/clang+llvm-tapir5.0`, there should be the contents of `$HOME` (either `/home/<username>` or `/root` normally).  I don't know where your compiled LLVM got installed, but symlinks are rarely a good solution.  TC build script itself uses `CLANG_PREFIX` environment variable to find the right version of llvm, it was expecting llvm-config to be in `$CLANG_PREF

[2018-05-28 11:46] skimo-openhub commented on #430
Should be fixed (indirectly) by #447.

[2018-05-28 17:14] ftynse opened #454 "Support reductions with statements ordered afterwards"

[2018-05-28 17:15] ftynse opened #455 "Identify reductions by statement name rather than by tensor name"
In particular, this should allow for reductions with multiple updates.

[2018-05-28 17:19] ftynse opened #456 "Add a flag to supress warnings"
Currently, TC will emit warnings about preconditions not being checked and non-initialized reductions.  When developing TC kernels, these are useful.  But when autotuning, these are only annoying as they appear in each compilation.  Add a `-w` flag that suppresses warning output.

[2018-05-28 17:45] ftynse commented on #455
It may not be limited to reductions, generally LHS tensor names may be reused in different statements so we should not use them as primary keys.

[2018-05-29 08:03] skimo-openhub commented on #454
Does anyone have a relevant test case?

[2018-05-29 08:33] skimo-openhub commented on #454
On Tue, May 29, 2018 at 01:25:07AM -0700, Fehr Mathieu wrote:

AFAICT, these are not relevant for this issue.
That is, fixing this issue wouldn't make those pass.

skimo

[2018-05-29 12:53] ftynse commented on #454
on the tests from #457 (ex-#441), change

[code]

and have `ReductionTest.BeforeInstruction` failing because the reduction update statement is fused with the following statement.

[2018-05-29 12:57] skimo-openhub opened #459 "reproduce illegal memory access"
https://ci.pytorch.org/jenkins/job/tensorcomp-builds/job/linux-xenial-gcc5-cuda9-cudnn7-py3-conda-build-test/682/console
reports an illegal memory access, but an attempt to reproduce it in
https://github.com/facebookresearch/TensorComprehensions/pull/458
doesn't seem to work.

[2018-05-30 09:41] #455 closed

[2018-06-01 14:13] concretevitamin opened #466 "Running generated CUDA kernel outside of PyTorch"
Hi,

I'm interested in running a TC-generated CUDA kernel outside of PyTorch.  Currently, I'm using the TC options to specify grid and block dim3.  E.g., with
[code]
from TC, I launch the auto-generated kernel (the `__global__` func in `/tmp/<tc>cuda`) with the following:
[code]
However, this seems to produce **incorrect values** compared to a reference implementation.  **Am I missing anything?  I

[2018-06-01 15:00] keightyfive commented on #419
Thanks very much for your detailed answers. I'll then try to install with caffe2 and see if I can run the kernels. I assume the overall performance will be better after building from source though... if you are willing to help me that, that would be very greatly appreciated. Hopefully I can contribute in some shape or form...
Cheers, Kevin

[2018-06-01 21:09] nicolasvasilache commented on #439
@donovanr #451 was finally landed today, see [BUILD.md](../blob/master/BUILD.md) for new build instructions. We are relying exclusively on conda from now on to get our external dependencies. This is  going towards more future-proof integration with PyTorch as we will increasingly be using their conda packages even for our dev and CI builds. This is still quite limited in scope (we need to ship our

[2018-06-02 02:39] concretevitamin commented on #466
@ftynse Thanks.  I'm using the conda-installed version of TC, commit `git_version: "8e112e9dccda62c30ef29208a827e783b9a7f156"` where `--logtosdterr` is not available.   Is there a workaround?  Fundamentally, is there a way to figure out the launch config from already-tuned `<hash>.{cuda,options}` files?

Also, an orthogonal question.  Let's say I previously had tuned a kernel with these cached out

[2018-06-02 02:49] concretevitamin commented on #394
+1.  This will be tremendously more user-friendly.  When a single job becomes the straggler orders-of-magnitude slower (than any of best, median, or worst), it does not make sense to continue running it.  Also ctrl-c only seems to work 50% of the time :)

[2018-06-02 02:49] concretevitamin commented on #381
+1 to what OP said.  Can confirm all those symptoms have hit me.

[2018-06-04 01:35] nicolasvasilache commented on #466
@concretevitamin the commit mentioned is pretty ancient, any chance you could build from source using the new build system (see the new [build instructions](../tree/master/BUILD.md))?
This way you would have an up to date version of TC and get If that is too inconvenient you can also wait until we push a new TC conda package, it will take a few more days though.

Regarding the caching and iteratin

[2018-06-04 01:53] nicolasvasilache commented on #466
@concretevitamin in particular, if you only want to use in Python and don't care about C++ dev or benchmarks then #470 should be pretty easy to follow.

[2018-06-04 06:09] ftynse commented on #466
Well, I've made a typo and it should be `--logtostderr`.

No.  I would not have suggested to look at the debug output had there been such a way.

[2018-06-04 08:16] skimo-openhub commented on #466
On Sun, Jun 03, 2018 at 11:09:09PM -0700, ftynse wrote:

Hmm... isn't the point that we _should_ store this information somewhere?

skimo

[2018-06-04 08:21] ftynse commented on #466
If we had stored the generated code in the actual codebase, then the answer would have been yes.  Codegen returns the launch bounds, now it's a matter of exposing the codegen call itself to python.  The caller can do whatever it wants with the results.

[2018-06-04 15:25] ftynse opened #473 "Do not store mapping options proto after tuning unless explicitly asked to"
alternatively, do not automatically pick up those options.  It appears that TC currently stores and picks up options from `/tmp` silently.  This is a confusing behavior that makes it look like the autotuner works much better in some cases than it actually does.  It is very problematic if the behavior of the mapper changed and the previously stored options are used.

[2018-06-05 13:57] nicolasvasilache commented on #473
This is done implicitly in the `autotuner.tune` when passing a file, we should make it explicit.
Either have 2 tuning calls, but even better just expose a simple API for cache loading and storing that we can reuse and compose a load call with tune explicitly if we want to start from an existing state.

[2018-06-05 16:52] #454 closed

[2018-06-07 15:24] ftynse opened #490 "Register promotion at arbitrary subtrees"
Currently, register promotion is performed below the band mapped to threads.  We want to be able to perform below any node where it wouldn't break the tree structure (e.g., cannot promote below a sequence node because its children must be filters).

[2018-06-07 15:26] ftynse opened #491 "Register promotion: tunable promotion depth"
After #490 is implemented, we may use schedule depth to control where the promotion happens independently of the schedule tree structure.

[2018-06-07 15:28] ftynse opened #492 "Shared memory promotion: tunable depth"
Similar to #491 but for shared memory.  It probably does not make sense to promote to shared memory below thread mapping though (otherwise, we need to modify the mapping somehow).

[2018-06-07 15:34] skimo-openhub opened #493 "polyhedral representation of reductions"
The current representation is based on a list of reduction dimensions, which is

- more verbose
- less generic
- incorrect (in theory)

The last two points _probably_ don't come into play in TC because of its strict constraints on the schedule, but a polyhedral representation will be easier to reason about.

This will be done on top of the clean-up that requires the changes in
https://github.com/n

[2018-06-07 21:08] #49 closed

[2018-06-07 21:13] ftynse commented on #190
Closed by #325

[2018-06-07 21:13] #190 closed

[2018-06-07 21:35] ftynse commented on #381
"Ctrl+C" was fixed by #476 , timeout is in progress

[2018-06-07 21:38] ftynse commented on #287
Ctrl+C behavior was corrected by #476.  Other questions have got answers, no further action possible. Closing.

[2018-06-07 21:38] #287 closed

[2018-06-08 02:50] nicolasvasilache commented on #473
Atm we have implicit load and implicit store if a non-empty filename is passed (i.e. either "reinforce behavior" either "forget the world behavior").

However I turn this, it seems much more error prone to break the symmetry.
The only logical conclusion is to totally decouple tuning from storage in the C++ API, so tune will not take a filename anymore and whoever wants to reinforce from C++ will h

[2018-06-08 03:17] concretevitamin commented on #466
@ftynse @nicolasvasilache  I will give building from source a try.

Regarding whether or not correct launch bounds should be stored on disk after auto-tuning: it seems obvious it should be stored, otherwise how can one reuse the tuned kernels across sessions?  An analogy I can think of is having successfully trained a NN but without storing the weights :)

[2018-06-08 07:36] ftynse commented on #466
Well, this is not how TC tuner was designed. It does not produce CUDA, but
mapping options.  Storing CUDA code is merely a side effect of running the
kernel.  I think we actually killed that storage completely in the master
branch.

If you need the kernel and bounds description, give those options to the TC
compiler and it will produce the desired result. Python interface seems to
be missing the p

[2018-06-08 08:20] ftynse commented on #473
I don't think asymmetry is a problem. This is essentially saving and
loading files. I doubt there is a potential user who is not familiar with
the concept of files.

Implicitness is a problem. Leaky abstratctions are a problem.  HCI 101:
users build a mental model of how your program works based on the state
they can observe (and almost nobody reads the docs past the first example).
When their men

[2018-06-08 11:28] PatWie opened #497 "Build From Source"
The installation procedure described in [step-1-install-some-build-dependencies](https://facebookresearch.github.io/TensorComprehensions/installation_non_conda.html#step-1-install-some-build-dependencies) is broken.

Having all dependencies installed via the [Dockerfile](https://gist.github.com/PatWie/6eba6a76d70aebe05605660497809fbe) I get

[code]

It would be nice to clarify that this is not pos

[2018-06-08 11:43] skimo-openhub commented on #497
On Fri, Jun 08, 2018 at 04:28:50AM -0700, Patrick Wieschollek wrote:

It's probably still possible.  It's just not supported.
build.sh is now a very thin wrapper around a cmake call.
You can call cmake directly, if you pass it all the information it needs.
Don't forget to do a "make install" at the end.

skimo

[2018-06-08 12:04] skimo-openhub commented on #497
On Fri, Jun 08, 2018 at 04:28:50AM -0700, Patrick Wieschollek wrote:

It's not clear what "this" meant.  I took it to mean
"building without conda".  Perhaps you could clarify.

So if you are using conda already, then why can't you just follow
the instructions in `BUILD.md`?

skimo

[2018-06-08 12:08] skimo-openhub opened #498 "update installation instructions"
The instructions in `docs/source/installation_non_conda.rst` need
to be updated to match the build system of
b72b7f11ff67fea9ff24f4a30124180b04a1edab.
See also #497.

[2018-06-08 12:55] PatWie commented on #497
yes "this"="building without conda"

the instructions in `BUILD.md`?

There were some other issues.

Having a reliable Dockerfile with does the entire procedure: "installation from source" would be really helpful to install the latest version.
This would be even more understandable than the current documentation. Currently, the entire procedure heahily relies on knowing `CONDA_PREFIX` and other co

[2018-06-08 13:07] ftynse commented on #497
Please report these other issues so they can be fixed (unless you know they are specific to your environment).

100% of active developers don't use docker for TC.  And we are old-school folks who read English or shell scripts better than docker configs.  If you want, a quick search in the repo shows this [dockerfile](https://github.com/facebookresearch/TensorComprehensions/blob/master/conda_recipe

[2018-06-08 13:43] #397 closed

[2018-06-08 14:28] concretevitamin opened #499 "[BUILD] Following latest BUILD.md failed with protobuf not found"
I'm following the latest BUILD.md (cc4b1eb).  Running `build.sh` results in the following.

Peeking at build.sh and <TC>/CMakeLists.txt, it seems protobuf should come from within TC, so I'm confused why it can't find protobuf.

- OS: 16.04.1-Ubuntu
- How you installed TC (docker, conda, source): BUILD.md
- Python version: 3.6.5
- CUDA/cuDNN version: CUDA 9.1
- Conda version (if using conda): 4.5.4

[2018-06-08 14:45] nicolasvasilache commented on #499
@concretevitamin it seems you are missing the whole `third-party/googlelibraries/*`  did you clone a fresh repo with --recursive?
If not maybe `git submodule sync && git submodule update --init --recursive` will help.

[2018-06-08 15:45] #290 closed

[2018-06-08 15:59] concretevitamin commented on #499
Thanks.  I fixed that.  The new error is now "Could NOT find Gmp (missing:
GMP_LIBRARY GMP_INCLUDE_DIR)".

On Fri, Jun 8, 2018 at 7:45 AM Nicolas Vasilache <notifications@github.com>
wrote:

[2018-06-08 16:10] ftynse commented on #499
You have to install libgmp-dev on your system.

On Fri, Jun 8, 2018, 17:59 Zongheng Yang <notifications@github.com> wrote:

[2018-06-08 16:18] nicolasvasilache commented on #499
@concretevitamin  what @ftynse  said, you will also need `libcilkrts5` or the equivalent on your system.
I'll update the build instructions, thanks for your report.

[2018-06-08 20:32] concretevitamin commented on #499
Thanks.  I have no sudo access on my system, had to ping my admin to install those packages.  It'd be great for the TC team to think about becoming self-contained down the road.

[2018-06-08 20:32] #499 closed

[2018-06-11 03:53] #351 closed

[2018-06-11 09:24] skimo-openhub opened #503 "Figure out why TMM_128_1024_1000.DisjunctiveFilter results in a disjunctive filter"

[2018-06-11 13:46] skimo-openhub opened #505 "extractDomainToThread: take into account filters"

[2018-06-12 11:46] skimo-openhub commented on #193
Closed by #460.

[2018-06-12 11:46] #193 closed

[2018-06-12 14:07] #503 closed

[2018-06-12 16:25] mdouze opened #511 "Indexing with byte arrays."
- OS: Linux
- How you installed TC (docker, conda, source): conda
- Python version: 3.6.5
- CUDA/cuDNN version: N/A
- Conda version (if using conda): 4.5.0

In addition, including the following information will also be very helpful for us to diagnose the problem:
- A script to reproduce the issue (highly recommended if its a build issue)

[code]

- Error messages and/or stack traces of the issue (

[2018-06-12 17:19] ftynse commented on #511
Seems to come from Halide pass, related to #98

[2018-06-12 17:23] abadams commented on #511
Needs the changes in #262 at the least. In trunk the declarations for types smaller than int32 don't even exist at the cuda level.

[2018-06-12 17:31] ftynse commented on #511
Why does it need #262?  There is no indirection on the _left_ hand-side in this code and I think we cherry-picked typedefs

[2018-06-12 17:32] nicolasvasilache commented on #511
yeah #262 is unrelated, should be an easy one, I'll take it

[2018-06-12 17:36] abadams commented on #511
I checked master and didn't see them there, even though I knew I had written them at some point. That's why I referred back to #262. I agree that this probably doesn't need that full set of changes, but there is indirection and I remembered fixing stuff related to indirection in that PR.

[2018-06-12 18:28] #473 closed

[2018-06-13 14:29] mdouze commented on #511
For completeness, the full use case involves an additional dimension:
[code]
The same remark applies: we are not interested in s.

[2018-06-13 14:38] ftynse commented on #511
This request is similar to #174.  It would require TC to properly handle temporaries (#18) and to support some flavor of expression inlining.  It has been discussed several times and is somewhere in mid-term goals.

[2018-06-13 17:34] nicolasvasilache commented on #511
@mdouze I updated #512 with your latest example, untuned perf with naive options of the 5 kernel variant on your problem size is about 90ms, see [this](https://gist.github.com/nicolasvasilache/8a0addfb6831a831b2dca45c612f9c2d).

[2018-06-13 23:39] #511 closed

[2018-06-14 09:02] ftynse commented on #498
Closed by #470

[2018-06-14 09:02] #498 closed

[2018-06-14 09:43] skimo-openhub opened #515 "tightenLaunchBounds: extract bounds from mapping"
The bounds are currently extracted from a context space.
This doesn't give the wrong results, but it would be more natural
to extract them from the actual block/thread mapping.

[2018-06-14 09:46] ftynse commented on #515
With #489, you get `MappedScop::[thread|block]MappingSchedule` and `collectMappingsTo` that you could use.

[2018-06-14 14:10] skimo-openhub opened #517 "Check that tensors promoted to registers are only accessed with constant index expressions"
This could be done by checking the AST inside `emitCudaKernel`.

[2018-06-15 08:31] ftynse opened #519 "Provide a function to convert mapping affine expressions to mapping filters"
#489 introduces more code that needs the mapping to be represented as both a mupa and a `union_set`, depending on the context of use.  We now have (almost) duplicate code that traverses the tree to collect mapping information in different forms, and often call both.  #518 changes the mapping node to no longer be a subclass of the filter node.

Provide a function to convert a mapping represented as

[2018-06-15 10:38] #490 closed

[2018-06-15 10:38] #505 closed

[2018-06-18 10:46] skimo-openhub opened #523 "tc_pybind_example.py occasionally fails on tuning cache check"
See, e.g., https://ci.pytorch.org/jenkins/job/tensorcomp-builds/job/tc-cuda9.0-cudnn7.1-ubuntu16.04-devel-build-test/259/consoleText

I was able to reproduce it on my system. top10 contains exactly one element, but it is different from top1.  The element in top10 corresponds to the one in the protobuf file.

[2018-06-18 15:54] math-fehr opened #525 "Missing mapping filter when the outer band has no child."
When the outer band has no child, there is no mapping filter inserted.
It can be seen in the tc
[code]
which produce a kernel using all the threads to do the a[0] = 0 instruction.

[2018-06-19 09:41] skimo-openhub commented on #525
Is that a problem? In practice, "all the threads" just means the single thread because
tightening will ensure this only gets run on a single thread.

[2018-06-19 11:59] skimo-openhub commented on #525
On Tue, Jun 19, 2018 at 11:25:35AM +0000, ftynse wrote:

I was going to ask you meant, but I guess the problem
is that tightening needs a mapping in the first place.
(I was confused because when I tried it out,
I did see the block getting tightened to a single thread.)

skimo

[2018-06-20 13:24] #525 closed, assigned to skimo-openhub

[2018-06-20 13:55] thetheodor opened #530 "Spurious __syncthreads in the beginning of the kernel."
I noticed that in some cases the first statement after variable definitions in the kernel is a `__syncthreads();` which if I am not mistaken makes no sense.

For example, in `GroupNormalizationSingleKernel` with input sizes `C=1024, G=4, N=32, H=4, W=41` and options:
[code]

The generated code is:
[code]
I've also observed this with grouped convolution.

[2018-06-20 14:42] ftynse commented on #530
Does it cause slowdowns?

I know exactly where it comes from and have no intention of fixing this in the near future.

[2018-06-20 14:44] ttheodor commented on #530
I didn't measure.

[2018-06-24 18:09] concretevitamin opened #538 "tc.decode() results in "compilation_cache.proto: No such file or directory""
- Commit hash of our repo and submodules (if compiling from source): cc4b1eb991245c6d83d9082cfe05b4189b78cc16

I was trying out autotuning on the vanilla convolution example:
[code]
Then,
[code]
I can see that the `my_convolution.options` is indeed generated and non-empty.

[2018-06-25 06:31] skimo-openhub commented on #407
On Sun, Jun 24, 2018 at 05:25:48PM -0700, Kevin Klein wrote:

Hmmm... it seems it doesn't explicitly mention that you need to clone TC:

git clone http://www.github.com/facebookresearch/TensorComprehensions --recursive

In the top-level of the cloned git repo.

I think CONDA_PREFIX is set by `conda activate`.  clang is installed there
through

conda install -y -c nicolasvasilache llvm-tapir50

ski

[2018-06-25 16:50] keightyfive commented on #407
Thanks,

I did realise shortly after I posted this that you have to clone from Git, although I didn't use --recursive.

I then executed the cmd when in conda activate, but I got the following errors:

Found PROTOBUF_LIBRARIES:PROTOBUF_LIBRARIES-NOTFOUND
Found PROTOBUF_PROTOC_EXECUTABLE:PROTOBUF_PROTOC_EXECUTABLE-NOTFOUND
Found PROTOBUF_INCLUDES:PROTOBUF_INCLUDES-NOTFOUND
CMake Error at CMakeLists.

[2018-06-25 18:28] nicolasvasilache commented on #538
@concretevitamine we are in the process if updating and retiring some of
the python-side API.

I seem to remember you build from source is this accurate?
If so, the best would be to get the branch from PR #531 (branch pr/python)
and use that for now.
We will update the TC conda packages soon but tc.decode is being retired.

If you look at test_tc.py in that PR you will see the supported ways to us

[2018-06-25 18:46] concretevitamin commented on #538
On Mon, Jun 25, 2018 at 11:28 AM Nicolas Vasilache <notifications@github.com>
wrote:

Thanks Nicolas.  I will try to build off from that PR.

Fully noted re: compute-bound ops.

[2018-06-25 18:48] keightyfive commented on #407
Thanks... I didn't know checking out recursively was necessary... I set CUDA_TOOLKIT_ROOT_DIR to the path where Cuda90 is installed in my .bashrc file... I assume that was not what you're supposed to do?

[2018-06-26 07:32] skimo-openhub commented on #407
On Mon, Jun 25, 2018 at 11:48:05AM -0700, Kevin Klein wrote:

It doesn't matter that much where you set CUDA_TOOLKIT_ROOT_DIR,
just as long as you make sure it is set when ./build.sh gets called.

skimo

[2018-06-26 20:05] keightyfive commented on #407
I checked out the repo with --recursive this time, and it seems to build fine until the point where it still doesn't find the Cuda stuff... I am on a SLURM based cluster where you have to load CUDA as a module. I have specified where it is in my .bashrc file and I'm pretty sure this is the correct path (/cm/shared/modulefiles/cuda90/toolkit/9.0.176). I printed with echo $CUDA_TOOLKIT_ROOT_DIR and

[2018-06-26 20:36] keightyfive commented on #407
Update: I tried again with "export" in my .bashrc (export CUDA_TOOLKIT_ROOT_DIR="/cm/shared/modulefiles/cuda90/toolkit/9.0.176") and I think it worked... I'm not sure if the build was entirely clean, as still gives me the error message at the very end:

+++ dirname ./build.sh
++ cd .
++ pwd
+ export TC_DIR=/home/kklein/.apps/tc_0_1_1/TensorComprehensions
+ TC_DIR=/home/kklein/.apps/tc_0_1_1/Tensor

[2018-06-27 08:32] skimo-openhub commented on #407
On Tue, Jun 26, 2018 at 01:36:29PM -0700, Kevin Klein wrote:

This looks suspicious.  Do you have a CUDA card?
Try and find out why the detection failed.

You probably need this too.  Either on your system or in conda.

This one, you definitely need.
If you installed the pytorch conda package, you should have one in
/home/kklein/.apps/tc_0_1_1/anaconda/envs/tc_build/lib/python3.6/site-packages/orc

[2018-06-27 15:46] keightyfive commented on #407
Hi,
yes, sorry, the LAPACK issue was when I tried building before the build system got a makeover. I changed the title now.
I'm on a cluster with many different nodes with various NVidia GPUs (https://www.macs.hw.ac.uk/~hv15/robotarium/), I'm not sure about the Cuda card or why the auto detection failed - I'd have to ask the admin. I think we have Ubuntu running on the dgx-1 node, but a redhat dis

[2018-06-28 09:44] #517 closed

[2018-06-28 13:45] ftynse commented on #407
I copied this from the Slack channel:

[2018-06-28 13:59] ftynse commented on #407
Architecture detection works by creating, compiling and executing a simple cuda executable that queries the GPU properties.  If was not compiled for some reason or cannot be run for some reason, architecture detection won't work.  Common reason include improperly configured or incomplete cuda toolkit and wrong cmake flags.  I can hazard a guess that your cudnn-related flags are wrong, and that cma

[2018-06-28 14:00] skimo-openhub commented on #407
On Wed, Jun 27, 2018 at 03:46:20PM +0000, Kevin Klein wrote:

Hmm... which version of pytorch did you install?
The TC CMakeLists.txt is expecting a file called "libATen.so".
(I have pytorch-0.4.0-py36hdf912b8_0 and it seems
pytorch-0.4.0-py36_cuda9.0.176_cudnn7.1.2_1 also has "libATen.so")

Does this mean your problem has been solved?

skimo

[2018-07-03 09:21] #493 closed

[2018-07-03 11:28] ftynse commented on #305
Layer database no longer exists, we only use tests with actually executable code.

[2018-07-03 11:28] #305 closed

[2018-07-03 11:29] #439 closed

[2018-07-03 11:32] ftynse commented on #271
This has gone stale

[2018-07-03 11:32] #271 closed

[2018-07-03 11:49] ftynse commented on #74
layers database is dead

[2018-07-03 11:49] #74 closed

[2018-07-03 11:55] ftynse commented on #196
tutorial is dead

[2018-07-03 11:55] #196 closed

[2018-07-03 13:22] #491 closed

[2018-07-03 17:05] nicolasvasilache commented on #538
`tc.decode` is now deprecated.

[2018-07-03 17:05] #538 closed

[2018-07-04 09:35] ftynse opened #552 "Concenrate the use of flags in CLIs"
Currently, TC makes extensive use of command line flags (provided by gflags) for debugging or configuration purposes.  These flags are essentially global variables, and global variables are generally discouraged.  In particular, using flags led to linking problems in #541 (attempting to address #456), extra code in #486 and clunky Python API in #531.

I propose to restrict the use of flags to exec

[2018-07-04 11:24] ftynse opened #553 "ScheduleTree API evolution"
#543 removed the notion of schedule tree element: now specific, node types inherit directly from `ScheduleTree`, which is simpler and offers more type safety.  This refactoring uncovered several technical and conceptual issues that may be worth discussing.

- Using macros for dynamic dispatch.
I don't think using macros for type-based dispatch is justified in C++.  Virtual functions are a native m

[2018-07-04 11:32] ftynse commented on #553
My preferences for these are:
- use virtual methods, kill macro-dispatch with fire
- use a virtual `type()` method
- merge `schedule_tree.h` and `schedule_tree_elem.h`
- move construction to specific classes, add a virtual `clone()` method to properly dispatch copy constuction

[2018-07-05 12:47] ftynse opened #554 "Repromote from shared to private memory"
If a tensor reference group is promoted to shared memory at some scope, it may be interesting to promote it to registers at some deeper scope.  There are two possibilities:
- promote to registers _instead of_ promoting to shared (freeing the shared memory for other uses or for increased occupancy);
- promote to registers _from_ shared, hiding global access latency and/or having more coalescing whe

[2018-07-05 12:52] ftynse opened #555 "Shared memory promotion: reuse memory in disjoint subtrees"
With #537, it is possible to promote to shared memory at disjoint subtrees.  Tthe `maxSharedMemory` option controls the _total_ amount of shared memory used by _all_ subtrees, whereas the same shared memory can be reused in different subtrees because they represent non-overlapping computations and copies are scoped in the same subtree.  Note that this requires to pre-allocate buffers in shared mem

[2018-07-05 13:01] ftynse opened #556 "Register promotion: provide an option to limit the number of promoted elements"
Similarly to shared memory promotion, we may want to limit the number of elements promoted to registers.  In particular, it should be less than the number of available registers of a given type.  We may want to reuse the shared memory heuristic for picking tensor reference groups to be promoted.

Unlike shared memory, there is no point in reusing the same variables for different values since we do

[2018-07-05 18:56] nicolasvasilache commented on #553
Macros are just a way to avoid copy-pasting code. The real question is whether we should try to kill dynamic dispatch everywhere (i.e. no `switch` or `if-else` based on type). In general yes if we can (i.e. use virtual functions, as discussed offline, where it makes sense; e.g. pprint)

`virtual enum type();` vs `enum type_;` is an easy one: favor killing state so virtual function all the way.

`d

[2018-07-05 22:40] #515 closed

[2018-07-06 09:50] ftynse commented on #553
Let's see case-by-case.  If there is common behavior, it is often possible to abstract it away differently than by copy-pasting (be it macros or not).  The only thing that I now for sure must be made with macro is generating function/class names like I did here https://github.com/PollyLabs/islutils/blob/01c947458af451034e83df28f230730347863aec/islutils/matchers-inl.h#L53

[2018-07-10 15:14] Artix18 opened #562 "Autotuner invalid value for tiling"
Built from source (master), commit b77b5835ca1165f63434e09ca915eea81df07726

input sizes: N, C, H, W, O, kH, kW = 32, 4, 56, 56, 16, 1, 1
Therefore, if i am not mistaken, the union of "divisors" (and {0}) should be:
[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 14, 16, 19, 28, 56, 32, 64, 128, 256, 0]

[code]

[code]

In my opinion, 5=ceil(32/7) and should then be a valid value.
I didn't have this problem

[2018-07-10 15:23] nicolasvasilache commented on #562
Hmm, see [here](https://github.com/facebookresearch/TensorComprehensions/blob/master/tc/autotuner/utils.cc#L44).
We actually set the ceil by powers2 only, you can use that instead of all ceils.
But the impl seems bugged (cc @ttheodor) because we insert in place and reuse iteratively.

@Artix18 this is a good opportunity to commit an easy code fix to C++-land :)
Keeping 'ceil by powers2 only' behav

[2018-07-10 18:00] ftynse commented on #562
The function @nicolasvasilache pointed out divides sizes _by_ powers of two, not vice versa.  So, it will include ceil(7/32)=1 but not ceil(32/7)=5.  The idea was, I think, that each time has a power-of-two number of iterations.

The actual bug here is the autotuner failing because the starting options passed by the user do not correspond to those the tuner can select.  I'd say the user knows bett

[2018-07-10 21:21] nicolasvasilache commented on #562
@ftynse  it's `ceil(56/8) = 7` such that the result of `56/7` is a power of 2.
In Jules' case, there is no power of 2 for the problem sizes such that `ceil(size / 2^k) == 5`.
It makes sense to say the user knows best and to allow it.

[2018-07-11 11:13] ftynse commented on #562
I don't get what are you trying to say there.  Even if `56/8=7`, there is no reason why `7` would appear on the RHS of the division to get you `ceil(32/7)`.

We agree on the path to follow here, though.

[2018-07-13 09:13] #492 closed

[2018-07-23 15:07] ftynse commented on #562
closed by #564

[2018-07-23 15:07] #562 closed

[2018-07-24 16:55] #456 closed

[2018-08-02 21:18] keightyfive commented on #407
Sorry I've been away for a while.
I used one of the Conda packages as building form source wouldn't work for me.
I'll close the thread.

[2018-08-02 21:34] keightyfive opened #593 "module 'tensor_comprehensions' has no attribute 'make_naive_options_factory'"
Hi,

I'm trying to run a simple example to get started with understanding the different mapping options (https://facebookresearch.github.io/TensorComprehensions/framework/pytorch_integration/getting_started.html).

When trying to run the first example the code throws:
` Traceback (most recent call last):
  File "matmul.py", line 8, in <module>
    TC = tc.define(mm, tc.make_naive_options_factory()

[2018-08-03 06:52] nicolasvasilache commented on #593
Hi Kevin,

We currently do not have an up to date conda package, we are waiting for
pytorch 1.0 to make this available.
You want to build from source to get the latest API.

Best,

N

[2018-08-03 16:36] keightyfive commented on #593
Thanks Nic,

I've been experiencing quite a good amount of issues with the build, see issue #407
Which is why I turned to the Conda package but if I want to dog deeper I guess there's no way getting around the build.
Do you have any further assumptions on why the auto detection fails?

Cheers, Kevin

[2018-08-03 21:13] nicolasvasilache commented on #593
Hi Kevin,

The build system has been significantly overhauled and simplified.
In particular we do not try to build ATen anymore but we use the prebuilt
pytorch packages.
The new instructions
@https://facebookresearch.github.io/TensorComprehensions/installation.html#build-from-source
reflect this.

One thing to be mindful of atm is that the pytorch nightly packages have
been changing recently and w

[2018-08-08 18:40] keightyfive commented on #593
Thanks for keeping me updated Nic,
I think I'll try installing the Docker image tomorrow and see if I can then play around with the various mapping options and the Autotuner a bit...

Cheers, Kevin

[2018-08-08 23:32] MaheshRavishankar opened #597 "[Build] ATEN Libraries missing when installing TC"
- OS: Ubuntu 16.04
- How you installed TC (docker, conda, source): From Source
- Python version: 3.6
- CUDA/cuDNN version: 9.0/7.1.4
- Conda version (if using conda): 4.5.9
- Docker image (if using docker): N/A
- GCC/GXX version (if compiling from source): 5.4
- LLVM/Tapir git hash used (if compiling from source): clang version 7.0.0 (trunk 336729)

- Commit hash of our repo and submodules (if com

[2018-08-09 07:25] nicolasvasilache commented on #597
See #598

[2018-08-10 15:45] MaheshRavishankar commented on #597
Thanks for the quick response. pytorch0.4 works.

[2018-08-10 15:45] #597 closed

[2018-08-13 17:13] keightyfive commented on #593
Hi Nic,

I finally managed to build TC from source, thank you for your help. I used pytorch version 0.4.0 as you suggested.

The C++ tests seem to have run just fine.

To run the python tests, the script seems to have shifted, so the cmd is currently
python ./python/tests/test_tc.py -v if you want to update this in the documentation.

The tests for python throws 1 or 2 errors at:
test_tc_llvm (__m